/*Pagination for custom display table*/
.paginationLeft {
	display: block;
	text-align: right;
	font-size: 12px;
	color: #585858;
	font-weight: bold;
	line-height: 30px;
	background-color: transparent;
	margin-bottom: 10px;
	margin-left: 4px;
	border-bottom: 1px dotted #565656;
}
.paginationLeftPopup {
	width: 95%;
	font-family: helvetica;
}
.pagination {
	float: left;
	text-align: left;
	background-color: #transparent;
}

.paginationRight {
 width: 100%;
 float: right;
 text-align: left;
 padding: 8px 10px 0px 0px;
 font-family: "Helvetica Neue", Arial, Verdana;
 font-size: 12px;
 margin-bottom: 6px;
}

.paginationRightDiv1 {
 float: right;
 *padding-top: 2px;
}

.paginationRightDiv2 {
 float: right;
 padding: 0px 10px 0px 10px;
 color: #000000;
 font-size: 14px;
}

.paginationRightDiv2 a {
 text-decoration: none;
 color: #000000;
}

.paginationRightDiv3 {
 float: right;
 *padding-top: 2px;
}


.displayTable {
	padding: 12px 5px;
	color: #000;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.displayTable  tr td{
	color: #000;
	list-style: none;
	display: block;
	background: #e6e6e6;
}

.odd{
	padding: 12px 5px;
	color: #000;
	font-size: 14px;
	text-decoration: none;
	display: block;
	background: #e6e6e6;
	/*border-bottom: 1px solid #565656;*/
	
}
.even{
	padding: 12px 5px;
	color: #000;
	font-size: 14px;
	text-decoration: none;
	display: block;
	background: #e6e6e6;
	/*border-bottom: 1px solid #565656;*/
}

#item .odd{
	padding: 12px 5px;
	color: #000;
	font-size: 14px;
	text-decoration: none;
	display: block;
	/*border-bottom: 1px solid #565656;*/
	float:left;
	width:166px;
	background: none;
}
#item .even{
	padding: 12px 5px;
	color: #000;
	font-size: 14px;
	text-decoration: none;
	display: block;
	/*border-bottom: 1px solid #565656;*/
	float:left;
	width:166px;
	background: none;
}
.links a,.links strong {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #565656;
    display: block;
    float: left;
    font-size: 9pt !important;
    height: 12px;
    left: 15px;
    line-height: 12px;
    margin-right: 1px;
    padding: 2px 1px 0;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 14px !important;
}

.pageLinkFirst{
	color: #565656;
	font-size: 12px;
	font-family: helvetica;
	font-weight: bold;
	vertical-align: top;
	height: 11px;
	line-height: 12px;
	width:38px;
}
#lastPg, .pageLinkLast {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #565656;
    
    color: #565656;
    font-family: helvetica;
    font-size: 12px;
    font-weight: bold;
    height: 11px;
    line-height: 12px;
    padding: 2px 4px;
    
    vertical-align: top;
    display:block;
    width:36px;
    position:relative;
    top:-3px;
    
}
.links strong{
background-color:#680C0F;
color:#fff;
}

.pageLinkFirst {
	background-color: #EEEEEE;
    border: 1px solid #565656;
   
    color: #565656;
    font-weight: bold;
    left: 3px;
    padding: 2px 4px;
    position: relative;
    display:block;
}
div#image {
	height:auto;
	}
#repositoryPopUp, #leftLogoRepositoryPopUp, #rightLogoRepositoryPopUp{
	min-height:250px !important;
	height:auto !important;
	}
	#item .odd, #item .even
	{
	 width:auto !important;
	 
	}
/*diaplay table custom css end*/
/*------------------------------------------popup styles-------------------------*/
.box_content {
	width:575px !important;
}
#leftRepositoryPopUp, #bottomLeftRepositoryPopUp, #bottomRightRepositoryPopUp, #bottomCenterRepositoryPopUp, #bottomLastRepositoryPopUp, #bottomMidRepositoryPopUp{
	width:625px !important;
	min-height:250px !important;
	height:auto !important;
}
/*--------------------9 April---------------------*/
#component tr.even, #component tr.odd {
	background-color:#fff;
	border:1px solid #565656;
	float:left;
	width:200px;
	margin-right:5px;
	width:170px;
	margin-bottom:5px;
	 
}
#component tr.even label, #component tr.odd label {
	 font-family: helvetica;
    font-size: 12px;
    font-weight:bold;
    display:block;
    width:100%;
}
.imgSetD{
	width:100% !important;
}