@charset "utf-8";

/* css document*/
#mask {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9000;
	background-color: #E2E2E2;
	display: none;
}

#boxes .window {
	margin-top: 220px;
	position: absolute;
	left: 0;
	top: 0;
	width: 500px;
	display: none;
	z-index: 9999;
	padding: 0px;
}

#boxes #close {
	position: absolute;
	margin-left: 480px;
	color: #6FA5FD;
	cursor: pointer;
	font-weight: bold;
}

.width {
	width: 100%;
	margin-bottom: 15px;
	height: 20px
}

.displayNone {
	display: none;
}

.handSymbol{
cursor:pointer;
}
