@charset "utf-8";

/* CSS Document */
@font-face {
	font-family: 'MyriadProBold';
	src: url('../fonts/myriadpro_bold-webfont.eot');
	src: url('../fonts/myriadpro_bold-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/myriadpro_bold-webfont.woff') format('woff'),
		url('../fonts/myriadpro_bold-webfont.ttf') format('truetype'),
		url('../fonts/myriadpro_bold-webfont.svg#MyriadProBold') format('svg')
		;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ImpactRegular';
	src: url('../fonts/impact-webfont.eot');
	src: url('../fonts/impact-webfont.eot?#iefix')
		format('embedded-opentype'), url('../fonts/impact-webfont.woff')
		format('woff'), url('../fonts/impact-webfont.ttf') format('truetype'),
		url('../fonts/impact-webfont.svg#ImpactRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadProRegular';
	src: url('../fonts/myriadpro_regular-webfont.eot');
	src: url('../fonts/myriadpro_regular-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/myriadpro_regular-webfont.woff') format('woff'),
		url('../fonts/myriadpro_regular-webfont.ttf') format('truetype'),
		url('../fonts/myriadpro_regular-webfont.svg#MyriadProRegular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

/*---------------------- Reset-----------------------*/
body {
	margin: 0px;
	padding: 0px;
	font-family: "Times New Roman", Times, serif, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	text-align: center;
	background-color: #fff;
	height: 100%;
}

*,html,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,label,fieldset,input,p,blockquote
	{
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
	float: left;
}

p {
	color: #939393;
	line-height: none !important;
	float: none;
	font-size: 14px;
	clear: both;
}

ol {
	list-style: none;
}

fieldset {
	border: none;
}

img {
	border: 0px;
}

.clear {
	clear: both;
}

a,a:link,a:hover {
	text-decoration: none;
}

/*----------------------------------------Theme---------------------------------------- */
.container { /*width: 1024px;*/
	margin: 0px auto;
	text-align: left;
	overflow: hidden;
	width: 932px; /*-----edited to resolve scrollbar issue------------*/
}

/*.header {
	background: url(../images/appheaderesr.png) no-repeat;
	width: 1024px;
	height: 192px;
	float: left;
}*/
* /
.square {
	background: url(../images/square.png) no-repeat;
	width: 14px;
	height: 14px;
}

.circle {
	background: url(../images/circle.png) no-repeat;
	width: 14px;
	height: 14px;
}

.centercontainer {
	float: left;
	/*margin: 0px 86px; */
	width: 929px;
	margin: auto; /*-----edited to resolve scrollbar issue------------*/
}

.innercontainer {
	float: left;
	border: 1px solid #000;
	width: 100%;
	margin-top: 26px;
	border: 1px solid #000;
}

/*----------------------------------------innerpagesTheme---------------------------------------- */
.insidecentercontainer {
	float: left;
	/*margin: 0px 50px;*/
	width: 929px;
	margin: auto; /*---edited to resolve scroll bar issue----------------*/
}

.insideinnercontainer {
	float: left; #
	float: none !important;
	border: 1px solid #000;
	width: 929px;
	margin-top: 26px;
}

.editcentercontainer {
	
}

/*----------------------------------------Nav---------------------------------------- */
.nav {
	position: absolute;
	z-index: 1;
	float: left;
	margin-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

.nav ul {
	float: left;
}

.nav ul li {
	float: left;
	display: block;
	list-style: none;
}

.nav ul li a { /*-----edited by Roopa------*/
	font-size: 14px;
	text-decoration: none;
	color: #000;
	padding: 8px 0px 0px;
	width: 97px;
	height: 18px;
	display: block;
	margin-right: 15px;
	text-align: center;
}

.nav ul li a:hover { /*-----edited by Roopa------*/
	background: url(../images/btn_template_12.png) no-repeat;
	width: 97px;
	height: 20px;
	padding: 8px 0px 0px;
	display: block;
	background-color: #fff;
	text-align: center;
}

.nav ul .selected { /*-----edited by Roopa------*/
	background: url(../images/btn_template_12.png) no-repeat;
	width: 97px;
	height: 20px;
	padding: 8px 0px 0px;
	display: block;
	background-color: #fff;
	text-align: center
}

#formNameTab {
	background: url("../images/btn_formname.png") no-repeat scroll 0% 0%
		#FFFFFF;
	display: block;
	height: 20px;
	padding: 8px 0px 0px;
	text-align: center;
	width: 216px;
}

/* ---------------------------- Mileage ---------------------------- */
.text_field {
	font-family: 'MyriadProRegular', Arial;
	font-size: 10pt;
	margin-left: 191px;
	margin-top: 18px;
}

.sub_ele {
	padding: 5px;
	color: red;
}

.check_text {
	color: black;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
}

.line {
	border: 3px solid black;
	border-left: none;
	border-right: none;
	border-top: none;
	width: 269px;
	font-size: 20px;
}

/* ------------------------------------------Comments------------------------------------------------ */
.comments {
	font-size: 22px;
	margin-left: 10px;
}

.commentInput {
	border: 3px solid black;
	border-left: none;
	border-right: none;
	border-top: none;
	font-size: 20px;
	width: 563px;
	margin-left: 10px;
}

#sub_comment {
	width: 563px;
	margin-left: 10px;
}

.inspect_by {
	border: 3px solid black;
	border-left: none;
	border-right: none;
	border-top: none;
	font-size: 20px;
	width: 215px;
	margin-left: 10px;
}

.ins_date {
	font-size: 12pt;
}

#bottomContainerRight {
	float: left;
	margin: 16px 0px 16px 0px;
	width: 335px;
}

#subform {
	font-size: 10pt;
	font-family: 'MyriadProBold', Arial, Helvetica, sans-serif;
}

#bottomContainerLeft {
	/*width: 548px;*/
	border: 1px #000 solid;
	/*margin: 16px;*/
	float: left;
	margin: 16px 5px;
    width: 577px;
}

#createNewContainerRight {
	background-color: white;
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	display: none;
	float: right;
	margin-right: 10px;
	margin-top: -71%;
	padding: 15px;
	width: 23.6%;
}

#headerColorRight {
	background-color: white;
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	float: right;
	margin-right: 6px;
	margin-top: -99.6%;
	padding: 5px;
	width: 30%;
}

/*----------------------------------------Vehicle condition---------------------------------------- */
.VCcentercontent {
	color: #000000;
	margin: 30px auto 0;
	text-align: center;
	width: 489px;
}

.VCcentercontent1 {
	color: #000000;
	margin: 30px auto 0;
	text-align: center;
	width: 489px;
}

.VCcentercontent1 b {
	font-size: 24pt;
	font-weight: regular;
	text-transform: uppercase;
	text-align: center;
	font-family: 'ImpactRegular', Arial, a, sans-serif;
	text-align: center;
}

.VCcentercontent .yourlogo {
	border: 1px solid #000000;
	font-size: 30px;
	height: 96px;
	margin: auto 0;
	width: 100%;
}

.VCcentercontent  .formtxt {
	font-size: 10pt;
	font-family: 'MyriadProRegular', Arial;
	margin-top: 10px;
	display: block;
}

.VCcentercontent b {
	font-size: 24pt;
	font-weight: regular;
	text-transform: uppercase;
	text-align: center;
	font-family: 'ImpactRegular', Arial, a, sans-serif;
	text-align: center;
}

.VCcontinner {
	float: left;
	/*margin-left: 15px;*/
	margin-top: 16px;
	width: 100%;
}

/*---------------------------------Listcheckboxtbns----------------------------------------------- */
.listcontatleft {
	float: left;
	width: 335px !important;
	margin-left: 15%;
	/*border-right: 1px dotted #CCCCCC;*/
}

.VClistdiv {
	float: left;
	display: block;
	width: 100%;
}

.VClist li {
	list-style: none;
	margin: 0px 0px 6px 0px;
	padding: 5px 0px 5px;
}

.VClist li .text {
	color: #045fb4;
	font-size: 12pt;
	font-family: 'MyriadProBold', Arial;
	text-transform: uppercase;
}

.VClistdiv   span {
	color: #000;
	display: block;
	text-align: left;
	font-size: 12pt;
	font-family: 'MyriadProBold', Arial;
	font-size: 12pt;
}

.VClistdiv .rectangle {
	background: url("../images/checkbox.png");
	width: 13px;
	height: 14px;
	border: : none;
}

.VClist li .option {
	letter-spacing: .5px;
}

.VClist li .label {
	text-align: left;
	font-size: 12pt;
	text-transform: capitalize;
}

.VClist li  a:hover { /* background: #EEEEEE;
	width: 110%; */
	
}

.VClist .checkbox {
	float: left;
	margin-right: 3px;
	margin-left: 0px;
}

.VClist .checkbox label {
	font-size: 10pt;
	font-family: 'MyriadProRegular', Arial;
	padding-right: 1px;
}

.VClist .checkboxcnt {
	margin-top: 2px;
}

.VClist .subHeading {
	font-family: "MyriadProBold";
	font-size: 12 pt;
	color: #000;
}

.VClist .checkbox15 label {
	font-size: 10pt;
	font-family: 'MyriadProRegular', Arial;
	padding-right: 5px;
}

.VClist .checkbox15 {
	margin-top: 2px;
}

.VClist .checkbox15 .optionText {
	width: 100 px;
	margin-right: 2px;
}

.VClist li .heading {
	font-family: 'MyriadProBold', Arial;
	font-weight: bold;
	font-size: 12 pt;
	color: #004492;
}

.VClist li .subHeading {
	font-family: "'MyriadProBold'";
	font-weight: bold;
	font-size: 12 pt;
	color: #000;
}

.VClist .checkboxcnt label {
	font-family: "MyriadProRegular";
	fornt-weight: regular;
	font-size: 10 pt;
	color: "#000";
	margin-right: 1px;
}

.VC   span {
	color: #000;
	display: block;
	font-size: 12pt;
	font-family: 'MyriadProRegular', Arial;
}

.listcontatright {
	float: right;
	width: 335px; *
	width: 325px;
	margin-right: 0px;
}

.EditBtn {
	width: 201px;
	height: 37px;
	border: none;
	cursor: pointer;
}

.pdfButton {
	background: url(../images/iGeneratePdf.PNG);
	width: 201px;
	height: 37px;
	border: none;
	cursor: pointer;
}

.containerbtm {
	float: left;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	margin: 10px 0px;
}

.containerbtm1 {
	float: left;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	margin: 10px 0px;
}

.bottomtext1 {
	line-height: 2;
	margin: 0px 36px;
	font-size: 11pt; /*----edited by Roopa-----*/
	margin-left: 15%;
	font-family: 'MyriadProRegular'; /*----edited by Roopa-----*/
	color: #000; /*----Added by Roopa-----*/
	overflow: hidden;/*----Added by Jeet-----*/
    width: 80%;
}

.bottomtext {
	line-height: 2;
	margin: 0px 36px;
	margin-left: 2%;
	font-size: 10pt;

	overflow:hidden;
	font-family: 'MyriadProRegular', Arial;
		height:125px !important;
		clear:both;
}

#cmt {
	font-size: 11pt;
	font-family: 'MyriadProRegular', Arial;
}

#cmtline {
	font-size: 12pt;
}

/*----------------------------------------Admin Screens---------------------------------------- */
.admincontainer { /*margin-left: 164px;*/
	margin-top: 86px;
	margin-left: 204px;
	/*-------------edited to resolve scrollbar issue------------*/
}

.adminbtn {
	background: #f2f2f2;
	border: 1px solid #d8d8d8;
	width: 225px;
	text-align: right;
	margin-right: 45px;
	float: left;
	color: #000;
	text-decoration: none;
}

.adminbtn  span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	padding: 18px 0px 18px;
	display: block;
	text-align: center;
}

.adminbtn:hover {
	background: #f2f2f2;
	border: 1px solid #d8d8d8;
	width: 225px;
	text-align: right;
	margin-right: 45px;
	float: left;
	color: #000;
	text-decoration: none;
}

.btngrey {
	font-family: Arial, Helvetica, sans-serif;
	background: url(../images/grey_btn.png) no-repeat;
	width: 164px;
	height: 32px;
	border: 0px;
	line-height: 30px;
	color: #000;
	font-weight: bold;
	font-size: 13px;
	cursor: pointer;
}

.rightcontainer {
	border: 1px #000 solid;
	padding: 10px;
}

.sideheading {
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
}

.sideheading  label {
	font-size: 15px;
	font-weight: bold;
}

.sideheading select {
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	width: 233px;
	border: 1px #000 solid;
}

.sideheading  checkbox {
	border: #000 1px solid;
	margin-top: 10px;
}

.sideheading input[type="text"] {
	width: 233px;
	border: #000 1px solid;
	height: 22px;
	line-height: 22px;
	margin-right: 5px;
}

/*.btn_forright {
	background: url(../images/Submitbtn.png);
	width: 75px;
	height: 25px;
	border: 0px;
	line-height: 25px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
}

.btn_forright:hover {
	background: url(../images/Submitbtn_hover.png);
	width: 75px;
	height: 25px;
	border: 0px;
	line-height: 25px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
}*/

.typeurown {
	color: #999;
	width: 200px !important;
	float: left;
	margin: 0px 4px;
}

.typeurowncheck {
	float: left;
	margin-top: 5px;
}

.subbtn {
	background: url(../images/plusbtn.png) no-repeat;
	width: 26px;
	height: 26px;
	display: block;
	float: left;
	margin-right: 2px;
}

.addbtn {
	background: url(../images/plusbtn.png) -29px no-repeat;
	width: 26px;
	height: 26px;
	display: block;
	float: left;
	margin-right: 2px;
}

.smalltextbox {
	width: 100px !important;
}

.colorselec {
	height: 10px;
	width: 10px;
	border: 1px solid #000;
	background: #fff;
	margin-right: 10px;
}

.colorselec  a:link {
	height: 10px;
	width: 10px;
	cursor: pointer;
	text-decoration: none;
	display: block;
}

.colorselec  a:hover {
	height: 10px;
	width: 10px;
	cursor: pointer;
	text-decoration: none;
	display: block;
}

.headingbg {
	background: #680c0f;
	font-size: 14px;
	padding: 10px 2px;
	margin: 80px 0px 10px 0px;
	float: left;
	display: block;
	width: 98%;
}

.usrleftcont {
	width: 223px;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	display: block;
}

.right_container {
	border-left: 1px solid #000;
	width: 616px;
	float: left;
}

.viewtable {
	width: 100%;
	margin-top: 80px;
	font-family: Arial, Helvetica, sans-serif;
}

.viewtable th {
	color: #991219;
	font-weight: bold;
	font-size: 14px;
	border-bottom: 1px solid #000;
	padding: 14px 5px
}

.viewtable td {
	padding: 13px 5px;
	border-bottom: 1px solid #000;
	font-size: 12px;
}

/*----------------------------------------Vertical tabs---------------------------------------- */
.verticltab_container {
	float: left;
}

.verticltab {
	padding: 12px 5px;
	color: #000;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.verticltab  li {
	color: #000;
	list-style: none;
	width: 100%;
	display: block;
	background: #e6e6e6;
}

.verticltab  li a:link {
	padding: 12px 5px;
	color: #000;
	font-size: 14px;
	text-decoration: none;
	width: 213px;
	display: block;
	border-bottom: 1px solid #565656;
}

.verticltab  li a:hover {
	color: #000;
	background: #969595;
	text-decoration: none;
	width: 213px;
	display: block;
}

.generatebtn {
	background-image: url(../images/Genrate_pdf.png);
	width: 155px;
	height: 37px;
	border: 0px;
	cursor: pointer;
	font-size: 18px;
}

.iDelete {
	width: 13px;
	display: none;
	height: 16px;
	margin-left: 244px;
	margin-top: -19px;
}

.iImage {
	margin-left: 225px;
	margin-top: -21px;
	display: none;
	width: 4% float :       right;
	border: 0px solid green;
}

.listcontatleftEdit {
	float: left;
	/*width: 260px;
	margin-left: 10px;*/
	border-right: 1px dotted #AAAAAA;
	width: 280px;
	margin-left: 5px;
}

.listcontatrightEdit {
	float: right;
	width: 280px;
	margin-right: 0px;
}

.iDeleteEdit { /*-----edited by Roopa---------*/
	width: 16px;
	height: 16px;
	visibility: visible;
	/*margin-left: 187px;
	margin-top: -16px;
	display: block;
	*/
	float: right;
}

.iImageEdit { /*-----edited by Roopa---------*/ /*margin-left: 200px;
	margin-top: -18px;
	display: block;*/
	visibility: visible;
	width: 16px;
	float: right;
	border: 0px solid green;
	padding-right: 10px;
}

.PdfBtn {
	width: 201px;
	height: 37px;
	border: none;
	cursor: pointer;
}

.ListDivHidden {
	visibility: hidden;
}

ListDivVisible {
	visibility: visible;
}

.ListDivHidden .Text {
	visibility: hidden;
}

.ListDivHidden .subText {
	visibility: hidden;
}

/*----------------------------------------Inspection Form---------------------------------------- */
.inspec_header {
	height: 132px;
	margin-bottom: 27px;
	margin-top: 2px;
}

.inspec_box_small {
	width: 132px;
	height: 132px;
	float: left;
}

.border {
	border: 1px solid #000;
}

.inspec_box_big {
	width: 531px;
	margin: 0px 110px;
	height: 132px;
	float: left;
	text-align: center;
	font-size: 14px;
}

.inspec_heading {
	clear: both;
	font-size: 18pt;
	font-family: 'MyriadProBold', Arial;
	text-align: center;
}

.inspec_form {
	clear: both;
	margin-top: 31px;
	font-size: 11pt;
	font-family: 'MyriadProRegular', Arial;
}

.inspec_nameconvent {
	font-size: 11pt;
	font-family: 'MyriadProBold', Arial;
	font-weight: bold;
	margin: 29px 0px 0px;
	line-height: 18pt;
}

.inspec_nameconvent span {
	float: left;
	margin-top: 10px; /*margin-right:108px;*/
	width: 341px;
	text-transform: uppercase;
}

.inspec_table  table {
	border: 1px solid #000;
	width: 466px;
	margin-top: 19px;
	border-bottom: 0px;
	border-right: 0px;
	float: left;
}

.inspec_table th {
	padding: 17px 0px;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	font-size: 12pt;
	font-family: 'MyriadProBold', Arial;
	text-align: center;
}

.inspec_table td {
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 5px 13px;
	font-size: 12pt;
	font-family: 'MyriadProRegular', Arial;
}

.inspec_table img {
	margin-right: 1px;
}

.yellow,.green,.red {
	width: 25px;
	height: 25px;
	border: 1px solid #000;
	display: block;
	float: left;
	margin-right: 7px;
}

.green {
	background: #009247;
}

.yellow {
	background: #fff200;
}

.red {
	background: #ce171f;
}

/*----------------------------------------Inspection intercontent---------------------------------------- */
.inspection {
	width: 494px;
}

.inspection table {
	border: 1px solid #000;
	margin-top: 19px;
	border-bottom: 0px;
	float: left;
}

.inspection table th {
	border-bottom: 1px solid #000;
	height: 23px;
	padding: 5px;
	font-size: 12pt;
	font-family: 'ImpactRegular', Arial;
	font-weight: normal;
	background: #dcddde;
}

.inspection table td {
	margin-top: 19px;
	border-bottom: 1px solid #000;
	padding: 5px;
	font-size: 12pt;
	font-family: 'HelveticaNeueRegular', sans-serif, Arial;
}

.inspec_heading_impact {
	font-size: 18pt;
	font-family: 'ImpactRegular', Arial;
	font-weight: normal;
	text-align: center;
}

.smallheading {
	font-size: 7pt !important;
	font-family: 'MyriadProRegular', Arial !important;
}

.inspectionleftwrap {
	float: left;
	width: 494px;
}

.inspectionrightwrap {
	float: left;
	margin-left: 19px;
}

.inspection_bg {
	width: 494px;
}

.inspection_bg  table {
	border: 1px solid #000;
	margin-top: 19px;
	border-bottom: 0px;
	float: left;
}

.inspection_bg  table th {
	border-bottom: 1px solid #000;
	height: 23px;
	padding: 5px;
	font-size: 12pt;
	font-family: 'ImpactRegular', Arial;
	font-weight: normal;
	background: #005aab;
	color: #fff;
}

.inspection_bg table td {
	margin-top: 19px;
	border-bottom: 1px solid #000;
	padding: 5px;
	font-size: 12pt;
	font-family: 'HelveticaNeueRegular', sans-serif, Arial;
}

.bordernone {
	border: 0px !important;
}

.bordernone td {
	border: 0px !important;
}

.txt_bold {
	font-size: 10pt !important;
	font-style: normal !important;
	font-family: 'MyriadProBold', Arial !important;
	text-align: center;
}

.interior_inspec {
	margin-top: 0px !important;
}

.interior_inspec td {
	font-size: 10pt !important;
	font-style: italic;
	font-family: 'MyriadProRegular', Arial !important;
}

.interior_inspec h2 {
	font-size: 10pt !important;
	font-style: italic;
	font-family: 'MyriadProBold', Arial !important;
	text-align: center;
}

.white_box {
	width: 42px;
	height: 23px;
	background: #fff;
	border: 1px solid #000;
	display: block;
}

.white_box_rectangle {
	width: 39px;
	height: 49px;
	background: #fff;
	border: 1px solid #000;
	display: block;
}

.white_box_square {
	width: 19px;
	height: 19px;
	background: #fff;
	border: 1px solid #000;
	display: block;
}

.padding_reset td {
	padding: 2px !important;
}

.brakesft_wpr {
	width: 221px;
	margin-left: 20px;
	float: left;
	font-style: italic;
}

.brakesft_wpr_Brakeimg {
	position: absolute;
	z-index: 2;
	background: url(images/inspect_Brakes.png);
	width: 273px;
	height: 283px;
	margin-left: 213px;
	float: left; /*for IE-7 dont delete this "#top:10px; #right:10px;"  */
	#
	top: 10px; #
	right: 10px;
}

.brakes_innerbtm {
	width: 100%;
	background: #dcddde;
	float: left;
}

.brakes_expansion {
	margin-left: 52px;
	width: 142px;
}

.brakes_expansion span {
	clear: both;
	display: block;
	margin: 5px 0px;
}

.brakes_expansion b {
	display: block;
	float: left;
	margin-right: 5px;
	width: 25px;
}

.
/* ---------------------------- added ---------------------------- */
span {
	FONT-FAMILY: Verdana, Helvetica, Arial;
	letter-spacing: .5px;
}

#img {
	border: 1px solid black;
	font-size: 28px;
	height: 82px;
	margin-left: 85px; /*------newly edited*-------------*/
	margin-top: 0px;
	padding: 0;
	width: 366px; /*------newly edited*-------------*/
	text-align: center;
	padding: 10px 0;
}

#imgView {
	border: 1px solid black;
	font-size: 28px;
	height: 72px;
	margin-left: 65px;
	padding: 10px;
	width: 336px;
}

#imgViewNoBorder {
	font-size: 28px;
	height: 72px;
	margin-left: 77px;
	
	width: 336px;
	padding:0;
}

#msg {
	font-size: 10pt;
	margin-left: 0%;
	margin-top: 6%;
	letter-spacing: 0.5px;
	color: #000000;
}

#shadow {
	color: black;
	padding: 2px;
	width: 80%;
	margin-left: 130px;
	border: 1px solid #E5E5E5;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 4px 10px -1px rgba(200, 200, 200, 0.98);
}

#header {
	font-family: 'Impact', Arial, a, sans-serif;
	font-size: 24pt;
	text-align: center;
	text-transform: uppercase;
	height: 35px;
}

#headerText { /*font-family: 'Impact',Arial,a,sans-serif;
    font-size: 24pt;
    text-align: center;
    color: black;
    text-transform: uppercase;
    margin-left: 103px;
    margin-top: 15px;*/
	color: black;
	font-family: 'Impact', Arial, a, sans-serif;
	font-size: 24pt;
	height: 40px;
	margin-top: 10px;
	text-align: center;
	text-transform: uppercase;
	width: 370px;
	line-height: none !important;
	margin-left:auto !important;
	margin-right:auto !important;
}

#okHeading {
	margin-left: 90%;
	position: relative;
	top: -50px;
}

#editHeading {
	margin-left: 90%;
	position: relative;
	top: -50px;
}

#editText {
	color: black;
	font-family: 'Impact', Arial, a, sans-serif;
	font-size: 24pt;
	height: 40px;
	margin-top: 10px;
	text-align: center;
	text-transform: uppercase;
	width: 370px;
	margin-left: 100px;
}

#formHeading  a {
	color: black;
	font-size: 4px;
	/*text-decoration: none;*/
}

#formHeading a hover {
	text-decoration: underline;
}

.divTable {
	background-color: #FFFFFF;
	border-spacing: 8px;
	display: table;
	margin-left: 40px;
	width: -moz-available;
}

.divRow {
	display: table-row;
	width: auto;
	height: 70px;
	font-size: 10pt;
	font-style: normal;
	font-family: MyriadProRegular, Arial, Helvetica, sans-serif;
	font-weight: bolder;
	letter-spacing: -1px;
	margin-left: 12px;
}

.divCell {
	float: left; /*fix for  buggy browsers*/
	display: table-column;
	width: 582px;
	background-color: #fff;
	font-size: 11pt;
}

.sub_text {
	color: black;
	font-size: 11pt;
	font-style: normal;
	font-weight: bolder;
	letter-spacing: .5px;
	display: block;
	clear: both;
	font-family: 'MyriadProBold', Arial, Helvetica, sans-serif;
}

#iOption {
	width: 120px;
	height: 30px;
	FONT-FAMILY: Verdana, Helvetica, Arial;
	display: table-cell;
	vertical-align: middle;
}

#iColor {
	width: 100px;
	height: 25px;
	margin-left: 102px;
	margin-top: -27px;
}

.iImage {
	margin-left: 225px;
	margin-top: -21px;
	display: none;
	width: 4% float :     right;
	border: 0px solid green;
}

.iLabel {
	height: 20px;
	width: 89%;
	border: 0px solid blue;
	float: left;
	color: #045FB4;
}

.iDelete {
	width: 13px;
	display: none;
	height: 16px;
	margin-left: 244px;
	margin-top: -19px;
}

.divCellLeft {
	float: left;
	display: table-column;
	width: 50%;
	height: 65px;
	padding-top: 5px;
	padding-left: 5px;
}

.divCellRight {
	float: right;
	display: table-column;
	width: 48%;
	height: 65px;
}

div#image {
	width: 100%;
	height: 60%;
}

div#image div {
	width: 49.9%;
	float: left;
	height: auto !important;
}

div#boxes {
	width: 100%;
	height: 60%;
}

div#boxes div {
	width: 49.9%;
	float: left;
	height: 10%;
}

.myspanHead {
	width: 250px;
	display: block;
	font-weight: bold;
	font-size: 12pt;
	font-family: '' MyriadProBold '', Arial;
	text-transform: capitalize;
}

#myspanbox {
	width: 290px;
	display: block;
	font-size: 10pt;
	font-family: 'MyriadProRegular', Arial;
	text-transform: capitalize;
}

.ispanHead {
	width: 250px;
	color: #045fb4;
	font-weight: bold;
	display: block;
	font-size: 12pt;
	text-transform: uppercase;
	font-family: '' MyriadProBold '', Arial;
}

#name {
	float: left;
	background-color: #ffffff;
	min-width: 45%;
	min-height: 35px;
	max-width: 22%;
	max-height: 35px;
	text-align: center;
	font-size: 11pt;
	border-left: none;
	border-right: none;
	border-top: none;
}

#master {
	float: left;
	background-color: #ffffff;
	min-width: 12%;
	min-height: 35px;
	max-width: 24%;
	max-height: 35px;
	text-align: center;
	font-size: 11pt;
	border-left: none;
	border-right: none;
	border-top: none;
}

#action {
	float: left;
	background-color: #ffffff;
	min-width: 3%;
	min-height: 35px;
	max-width: 19.5%;
	font-size: 11pt;
	text-align: center;
	max-height: 35px;
	border-left: none;
	border-right: none;
	border-top: none;
}

#actionHead {
	float: left;
	background-color: #ffffff;
	font-size: 11pt;
	text-align: center;
	min-width: 12%;
	min-height: 35px;
	max-width: 39.3%;
	max-height: 35px;
	border-left: none;
	border-right: none;
	border-top: none;
}

.adminMenu {
	width: 100%;
	height: 450px;
	border: 1px solid #BEBEBE;
	margin-top: 230px;
}

.menu {
	width: 100%;
	height: 450px;
	border: 1px solid #BEBEBE;
	margin-top: 230px;
}

.box {
	width: 100%;
	height: 550px;
	/*border: 1px solid #ACACAC;*/
}

.anchor {
	background: none repeat scroll 0 0 #EEEEEE;
	border: 1px solid #BEBEBE;
	float: left;
	height: 10%;
	margin-left: 20%;
	margin-top: 20%;
	width: 20%;
	text-align: center;
	padding-top: 20px;
}

.usrleftcont {
	width: 223px;
	color: #fff;
	border: 1px solid #BEBEBE;
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	height: 370px;
}

.select:link {
	background: url(../images/iBlank.PNG);
	width: 92px;
	height: 20px;
	color: #000;
	padding: 5px 0px 0px;
	font-size: 14px;
	font: black;
	display: block;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	display: block;
	margin-left: 25px;
	margin-top: 5px;
}

.view:link {
	background: url(../images/View.png) no-repeat;
	width: 77px;
	height: 18px;
	color: #000;
	padding: 5px 0px 0px;
	font-size: 14px;
	font: black;
	display: block;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	display: block;
	margin-left: 19px;
	margin-top: 5px;
}

.deleteForm:link {
	background: url(../images/View.png) no-repeat;
	width: 77px;
	height: 18px;
	color: #000;
	padding: 5px 0px 0px;
	font-size: 14px;
	font: black;
	display: block;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	display: block;
	margin-left: 19px;
	margin-top: 5px;
}

.view:hover {
	background: #ccc;
	width: 77px;
	height: 18px;
	padding: 5px 0px 0px;
	color: #000;
	font-size: 14px;
	display: block;
}

.btngreySave {
	font-family: Arial, Helvetica, sans-serif;
	background: url(../images/iSave.PNG) no-repeat;
	width: 164px;
	height: 32px;
	border: 0px;
	line-height: 30px;
	color: #000;
	font-weight: bold;
	font-size: 13px;
	cursor: pointer;
}

.btngreyCancel {
	font-family: Arial, Helvetica, sans-serif;
	background: url(../images/iCancel.PNG) no-repeat;
	width: 164px;
	height: 32px;
	border: 0px;
	line-height: 30px;
	color: #000;
	font-weight: bold;
	font-size: 13px;
	cursor: pointer;
}

.subText {
	font-family: 'MyriadProBold';
	font-weight: normal;
	font-size: 12pt;
	color: Black;
	visibility: visible;
	margin-bottom: 5px;
	display: block;
}

#title {
	margin-top: 8px;
	font-size: 18px;
	color: #545454;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-border-radius: 2px;
	display: none;
	width: 280px;
}

.text_label {
	color: black;
	font-family: ImpactRegular, Regular;
	font-size: 24pt;
	width: 345px;
}

.select_me {
	margin-top: 8px;
	font-size: 18px;
	color: #545454;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-border-radius: 2px;
	display: none;
	width: 280px;
}

/*
label {
	float: left;
	margin-top: 8px;
	font-size: 18px;
	color: #545454;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-border-radius: 2px;
}
*/
.divCellT2 {
	display: table-column;
	float: left;
	width: 370px;
}

.sub_headings {
	color: black;
}

.comment {
	font-family: MyriadProRegular, Regular;
	font-size: 10pt;
	margin-left: 27px;
}

#headings {
	font-size: 12 pt;
	font-family: 'MyriadProBold';
	font-weight: bold;
}

#Mileage {
	font-family: 'MyriadProRegular', Regular;
	font-size: 10pt;
}

.check_value {
	font-size: 10pt;
	font-family: 'MyriadProRegular',;
	color: black;
	font-weight: normal;
}

#SUB_comment_length {
	margin-left: 26px;
	width: 91.2%;
}

.editview {
	font-family: 'MyriadProRegular', Arial;
	font-size: 9pt;
	line-height: 1.6;
	margin: 0 123px;
	word-wrap: break-word;
}

.VClist .checkbox_last {
	float: none;
	margin-right: 5px;
	margin-left: 9px;
}

#createNewBtn {
	margin-left: 214px !important;
	margin-top: 31px !important; /* #formName, #formDeleted, #formPdf*/
}

/* ----------------------------------User Defined Template CSS--------------------------- */
.right_container_forms {
	border-left: 1px solid #000;
	width: 73%;
	float: left;
	padding-top: 80px;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 5px;
}

#formNo {
	border: 0px solid black;
	float: left;
	font-size: 11pt;
	height: 35px;
	width: 25px; /*----newly Edited-------------*/
}

.formNames {
	border: 0px solid black;
	text-align: left;
	float: left;
	font-size: 11pt;
	height: 35px;
	width: 220px; /*-------edited by Roopa-----*/
}

/*#formName:hover {
	text-decoration: underline;
}*/
#formDeleted {
	float: left;
	height: 35px;
	width: 18px; /*-------edited by Roopa-----*/
	border: 0px solid black;
}

#formPdf {
	float: left;
	height: 35px;
	width: 3%;
	border: 0px solid black;
}

#sno {
	float: left;
	background-color: #ffffff;
	min-width: 13%;
	min-height: 35px;
	max-width: 13%;
	text-align: center;
	max-height: 45px;
	font-size: 11pt;
	border-left: none;
	border-right: none;
	border-top: none;
	width: 50px;
	height: 45px;
}

.name {
	float: left;
	background-color: #ffffff;
	min-height: 35px;
	min-width: 45%;
	max-height: 45px;
	text-align: center;
	font-size: 11pt;
	border-left: none;
	border-right: none;
	border-top: none;
	height: 45px;
}

#fontHead {
	src: url('myriad/MYRIADPRO-BOLD.OTF');
}

#master {
	float: left;
	background-color: #ffffff;
	min-height: 35px;
	min-width: 12%;
	max-height: 45px;
	text-align: center;
	font-size: 11pt;
	border-left: none;
	border-right: none;
	border-top: none;
	height: 45px;
}

#action {
	float: left;
	background-color: #ffffff;
	min-width: 3%;
	min-height: 35px;
	max-width: 19.5%;
	font-size: 11pt;
	text-align: center;
	max-height: 45px;
	border-left: none;
	border-right: none;
	border-top: none;
	height: 45px;
	width: 80px;
}

#actionHead {
	float: left;
	background-color: #ffffff;
	font-size: 11pt;
	text-align: center;
	min-width: 12%;
	min-height: 35px;
	max-width: 39.3%;
	max-height: 45px;
	border-left: none;
	border-right: none;
	border-top: none;
	height: 45px;
}

.userleftcount {
	width: 223px;
	color: #fff;
	/*border: 1px solid #BEBEBE;*/ /*----Edited By Roopa------*/
	font-family: Arial, Helvetica, sans-serif;
	float: left;
	min-height: 370px;
}

/* -------Page Heading--------- */
#pageHeading {
	font-size: 14pt;
	text-decoration: underline;
	margin-top:20px;
}

#pageContent {
	align: left;
	margin-left: 160px;
	font-size: 14pt;
	margin-top: 80px;
	text-decoration: none; ";
	width: 32%;
}

#createNewBtn {
	margin-left: 390px;
	margin-top: 80px;
	";
}

#userBtn {
	height: 10%;
	width: 100%;
	align: center;
	margin-left: 27%;
	margin-top: 3%;
	padding-bottom: 25px; /*------added---Roopa---------------*/
}

#editOption {
	text-transform: capitalize;
}

/*---------new style-----------Roopa------------------*/
.VClist .checkboxcnt img {
	margin-right: 2px;
	/*width:14px;*/
	height: 14px;
	vertical-align: -2px;
}

.VClist .checkbox img {
	margin-right: 2px;
	/*width:14px;*/
	height: 14px;
	vertical-align: -2px;
}

.VClist .checkbox label {
	margin-right: 1px;
}

.add {
	background-image: url("../images/Button-Add-icon.png");
	width: 21px;
	height: 21px;
	background-repeat: no-repeat;
	border: 0px;
	background-color: transparent;
}

.delete {
	background-image: url("../images/icon-deleteRed.gif");
	width: 21px;
	height: 21px;
	background-repeat: no-repeat;
	border: 0px;
	background-color: transparent;
}

/*-----newly added-------------*/
#visibleDiv15 br {
	display: none;
}

#visibleDiv15 .checkbox {
	display: block;
	width: 200px;
}

.addEditOption {
	background-image: url("../images/Button-Add-icon.png");
	width: 21px;
	height: 21px;
	background-repeat: no-repeat;
	border: 0px;
	background-color: transparent;
}

.deleteEditOption {
	background-image: url("../images/icon-deleteRed.gif");
	width: 21px;
	height: 21px;
	background-repeat: no-repeat;
	border: 0px;
	background-color: transparent;
}

.deleteForm {
	color: red;
	font-weight: bold;
	padding-bottom: 20px;
}

/*.optiontext{
	margin-top: 4px;
}*/ /*.compOptDesc{
	margin-top: 6px;
}
.imageOptionType{
	margin-top: 6px;
}*/
.inspectionHeader {
	font-family: 'MyriadProRegular';
	font-size: 15pt !important;
	text-decoration: none !important;
	color: #2187ED;
	margin-bottom: 20px;
}

.hellouser {
	font-family: 'MyriadProRegular';
	font-size: 11pt !important;
	position: relative;
	top: 10px;
	left: 5px;
	font-weight: bold;
}

.ifDesc {
	text-align: center;
	font-family: 'MyriadProRegular';
	font-size: 12pt;
	color: #000;
}

.ifLeft {
	width: 100px;
	padding: 10px 15px;
	float: left;
	border: 1px solid #eee;
	text-align: center;
	margin-left: 10px;
}

.ifRight {
	width: 700px;
	float: left;
}

.formList {
	width: 350px;
	float: left
}

#pageContent {
	margin-left: 40px !important;
	border-right: 1px solid #ccc;
}

.formTitle {
	font-family: 'MyriadProBold' !important;
	font-size: 16px !important;
	color: #000 !important;
	position: relative;
	top: 60px;
	margin-left: 50px;
}

.instructionList {
	width: 320px;
	/*	overflow:auto;*/
	float: left;
}

span.formLink {
	color: #000;
	font-family: 'MyriadProRegular';
	font-size: 12pt;
}

.ifRight #pageContent {
	width: 300px;
}

/*-----------------button styles-------------------*/
#createNewBtn {
	clear: both;
}

.btn-txt,.deleteForm:link {
	font-family: 'MyriadProRegular';
	font-size: 14px;
	color: #000 !important;
	text-decoration: none;
	vertical-align: middle;
	line-height: 25px;
	float: left;
	margin-right: 10px;
	cursor: pointer;
	cursor: hand;
	height: 25px;
	text-align: center;
}

.deleteForm:link {
	font-weight: normal;
	height: 25px;
	line-height: 16px;
	position: relative;
	top: -7px;
}

#createComponent,.editTbtn,.genTbtn {
	background-image: url("../images/button_large.png");
	display: block;
	width: 155px;
}

.editTbtn,.genTbtn {
	font-weight: normal;
	text-align: center;
}

.deleteForm:link,.formLink1:link {
	position: relative;
	top: -1px;
}

#updateId,#cancelButtonId,#rightOkComp,#rightCancelComp,.formlink1,.deleteForm:link,.btn_forright,btn_forright
	{
	background-image: url("../images/button_medium.png");
	display: block;
	width: 80px;
	border:0;
}

#rightOkComp,#rightCancelComp {
	font-family: 'MyriadProRegular';
	font-size: 14px;
	color: #000;
	text-decoration: none;
	vertical-align: middle;
	line-height: 25px;
	float: left;
	height: 25px;
	margin-right: 10px;
	font-weight: normal;
}

.EditBtn,.PdfBtn {
	background-image: url("../images/button_large_old.png");
	display: block;
	width: 155px;
	height: 37px;
	line-height: 37px;
	font-family: 'MyriadProBold';
}

.divTable1 .editme1 {
	position: relative;
	top: 10px;
	white-space: nowrap;
}

.colors {
	margin-left: 10px;
}

#rightOk,#rightCancel,#rightOkCompOption,#rightCancelCompOption,#deleteButton,#browse,#saveButton
	{
	background-image: url("../images/button_medium.png");
	display: block;
	width: 80px !important;
	font-family: 'MyriadProRegular';
	font-size: 14px;
	color: #000;
	text-decoration: none;
	vertical-align: middle;
	line-height: 25px !important;
	float: left;
	margin-right: 10px;
	cursor: pointer;
	cursor: hand;
	height: 25px !important;
	text-align: center;
	font-weight: normal;
}

#deleteButton,#deleteButton1,#browse,#saveButton {
	border: 0;
	float: right;
}

#saveButton {
	float: none;
	clear: both;
}

/*#deleteButton,#deleteButton1 {
 border:0;
 float:right;
 }*/
}
#saveButton {
	float: none;
	clear: both;
}

#browse { /*margin-left:88px;*/
	left: 3px !important;
	margin-top: 0px;
	position: relative !important;
	float: left;
	margin-right: 0px !important;
}

.sideheading { /*overflow:auto;*/
	overflow: hidden;
	padding-top: 10px;
}

.sideheading input[type="text"],.sideheading select {
	color: #000 !important;
	font-family: 'MyriadProRegular' !important;
	font-size: 10pt !important;
	padding: 3px 0 !important;
}

.welcometxt {
	font-family: 'MyriadProBold';
	font-size: 12px;
	color: #000;
	padding: 10px;
}

.homeBtn,.logoutBtn {
	background-image: url("../images/button_medium.png");
	display: block;
	width: 80px;
	margin-top: 10px;
}

}
#imgLogo {
	border: 1px solid black;

	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
	padding: 0;
	text-align: center;
	width: 9.1cm;
	height: 2.54cm;
	
}

#msg101 {
	font-size: 10pt;
	letter-spacing: 0.5px;
	margin-left: 0;
	margin-top: 10%;
}

/*---------------styles added on 22 feb----Roopa-----------------*/
#selectImg {
	float: left;
}

#localImage {
	width: 221px;
	float: left;
	color: #000000 !important;
	height: 26px !important;
}

.deleteForm {
	color: #000 !important;
}

#userFormsList #action #formLink {
	background-image: url("../images/button_medium.png");
	display: block;
	width: 80px;
	color: #000;
	cursor: pointer;
	font-family: 'MyriadProRegular';
	font-size: 14px;
	height: 25px;
	line-height: 25px;
	position: relative;
	top: 3px;
	text-align: center;
	text-decoration: none;
}

.compOptDesc,.optiontext {
	margin-bottom: 3px !important;
}

/*-----------------------styles edited on 28th FEB-------------------*/
.instructionList #formNames #formLink {
	font-family: 'MyriadProRegular';
	font-size: 12pt;
	vertical-align: top;
}

.instructionList #userDefinedForms {
	margin-bottom: 15px;
}

#optionName {
	text-transform: capitalize;
}

.loadpic {
	min-height: 300px;
	text-align: center;
	padding-top: 150px;
}

/*------------new styles 13th march------------------*/
#deleteButton1 {
	background-image: url("../images/button_medium.png");
	color: #000000;
	cursor: pointer;
	display: block;
	float: left;
	font-family: 'MyriadProRegular';
	font-size: 14px;
	font-weight: normal;
	height: 25px !important;
	line-height: 25px !important;
	margin-right: 0px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	width: 80px !important;
	border: 0 none;
	margin-top: 0px !important;
}

.deleteForm {
	color: #000000;
	font-size: 10pt;
	font-family: 'MyriadProRegular';
	text-align: left;
}

.selectLink,.deleteLink {
	background-image: url("../images/button_medium.png");
	color: #000000;
	cursor: pointer;
	display: block;
	float: left;
	font-family: 'MyriadProRegular';
	font-size: 14px;
	font-weight: normal;
	height: 25px !important;
	line-height: 25px !important;
	margin-right: 0px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	width: 80px !important;
	border: 0 none;
	margin-top: 0px !important;
	text-decoration: none;
}

#userFormList .deleteLink {
	background-image: none !important;
	text-align: left !important;
	width: auto !important;
}

a {
	text-decoration: none !important;
}

img {
	border: 0 !important;
}
#delBtn{
	margin-left:0px;
	
	}
#deleteButton1{
	margin-left:6px !important;
}
/*--------------------9 April--------------------*/
#deleteComponent{
    background-image: url("../images/button_large.png");
    display: block;
    width: 155px;
}
.deleteComponent{
	 background-image: url("../images/button_medium.png");
    display: block;
    width: 80px;
    border:0;
	}
#SearchComp{
	 background-image: url("../images/button_medium.png");
    display: block;
    width: 80px;
    border:0;
    margin-right:0 !important;
    float:right;
	}
.searchForm{
	padding:10px 2px 0 2px;
	position:relative;
	 top:62px;
	}	
	.searchTB{
	width:60%;
	height:23px;
	border:1px solid #565656;
	outline:none;
	}
	/*--------------------10th April----------------*/
	#createOptOk{
	float:left;
	 height: 25px !important;
    line-height: 25px !important;
    margin-right: 10px;
	}
	#createOptCancel{
	 line-height: 25px !important;
   
    height: 25px;
	}
	#tickType, #editDesc{
	padding-top:0 !important;
	margin-bottom:0 !important;
	}
	#editOptionType{
	margin-bottom:10px;
	}
	