@CHARSET "ISO-8859-1";

@font-face {
	font-family: 'MyriadProBold';
	src: url('../fonts/myriadpro_bold-webfont.eot');
	src: url('../fonts/myriadpro_bold-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/myriadpro_bold-webfont.woff') format('woff'),
		url('../fonts/myriadpro_bold-webfont.ttf') format('truetype'),
		url('../fonts/myriadpro_bold-webfont.svg#MyriadProBold') format('svg')
		;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ImpactRegular';
	src: url('../fonts/impact-webfont.eot');
	src: url('../fonts/impact-webfont.eot?#iefix')
		format('embedded-opentype'), url('../fonts/impact-webfont.woff')
		format('woff'), url('../fonts/impact-webfont.ttf') format('truetype'),
		url('../fonts/impact-webfont.svg#ImpactRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadProRegular';
	src: url('../fonts/myriadpro_regular-webfont.eot');
	src: url('../fonts/myriadpro_regular-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/myriadpro_regular-webfont.woff') format('woff'),
		url('../fonts/myriadpro_regular-webfont.ttf') format('truetype'),
		url('../fonts/myriadpro_regular-webfont.svg#MyriadProRegular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

/* -----------------Page Heading----------------- */
#pageHeading {
	height: 60px;
	width: 850px; /*----edited by Roopa------*/
	nowrap: nowrap;
	text-align: center; /*-----Added by Roopa----*/
}

#heading {
	font-size: 18pt;
	font-weight: bold;
	color: black;
	font-family: myriad pro, Arial, Helvetica, sans-serif;
	margin-left: 80px;
	margin-top: 20px;
	width: 17cm;
}

#header {
	font-size: 12pt;
	color: black;
	font-weight: bold;
	font-family: myriad pro;
}

input[id=header1] {
	font-size: 18pt;
	font-weight: bold;
	font-family: myriad pro, Arial, Helvetica, sans-serif;
	color: black;
	display: none;
	width: 610px;
	height: 50px;
	margin-left: 80px;
	margin-top: 0px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-border-radius: 2px;
}

label {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-border-radius: 2px;
}

.edit {
	background: url(../images/iediting.PNG) no-repeat;
	float: none;
	width: 32px;
	height: 32px;
	display: none;
	cursor: pointer;
	margin-top: -30px;
	margin-left: 735px;
}

.clear {
	clear: both;
	height: 20px;
}

/* -----------------Select Color----------------- */
.selTable {
	display: table;
	width: 865px;
	margin-top: 0px;
	/*margin-left:0px;*/
	margin-left: 10px;
	/*margin-right:auto;*/
}

.selTableEdit {
	margin-left: 50px;
}

.selRow {
	display: table-row;
	margin-left: 10px;
	width: auto;
}

.selCell {
	float: left; /*fix for  buggy browsers*/
	height: 70px;
}

.selCol {
	float: left; /*fix for  buggy browsers*/
	height: 70px;
	
	margin-top: 5px;
	margin-left: 5px;
}

/* -----------------SVG Color----------------- */
.svgTable {
	text-align:center;/*-----added by Roopa---------*/
}

.svgRow {
	display: table-row;
	align: center;
}

.svgCell {
	float: left; /*fix for  buggy browsers*/
	align: center;
	display: table-column;
	width: 40px;
	height: 60px;
}

/* -----------------Items And Conditions----------------- */
.divTable1 {
	display: table;
	border-spacing: 8px;
	margin-top: -10px;
	width: 100%;
}

#div1 {
	float: left;
	width: 400px;
	display: table-column;
}

#div2 {
	float: right;
	width: 393px;
	margin-top: 0px;
	display: table-column;
}

.divRow {
	display:table-row;
	margin-left: 10px;
	width: auto;
}

.divCellHeading {
	float: left;
	display: table-column;
	margin-top: -14px;
	width: 175px;
	height: 25px;
	border: 1px solid #ACACAC;
}

.divCell1 { /*---edited by Roopa---*/
	float: left; /*fix for  buggy browsers*/
	display: table-column;
	margin-top: -10px;
	width: 175px;
	height: 40px;
	border: 1px solid #ACACAC;
	padding: 5px;
	font-family: 'MyriadProRegular'; /*----Edited by Roopa-------------*/
	font-size: 12pt; /*----Edited by Roopa-------------*/
	color: #000; /*----added by Roopa-------------*/
}

.rowheading {
	font-weight: bold;
	font-family: 'MyriadProBold', Arial;
	font-size: 12pt;
	text-align: center;
}

#content {
	color: black;
}

.editme1 {
	text-transform: capitalize !IMPORTANT;
	/*float: left;*/ /* Edited by Roopa*/
}

#form1 {
	font-size: 12pt;
	color: black;
	font-family: myriad pro;
}

.divTable {
	display: table;
	width: auto;
	border-spacing: -5px;
	margin-top: -5px;
	/*margin-left: 0;*/
	margin-left: auto;
	/*----------edited to resolve scroll bar issue--------------*/
	margin-right: auto;
	/*----------edited to resolve scroll bar issue--------------*/
}

.customer {
	border: 3px solid black;
	border-left: none;
	border-right: none;
	border-top: none;
	font-size: 20px;
	width: 250px;
	margin-left: -23px;
}

#customer {
	margin-left: 19px;
}

.phone {
	border: 3px solid black;
	border-left: none;
	border-right: none;
	border-top: none;
	font-size: 20px;
	margin-left: -40px;
	width: 150px;
}

#phone {
	margin-left: 140px;
}

.mileage {
	border: 3px solid black;
	border-left: none;
	border-right: none;
	border-top: none;
	font-size: 20px;
	width: 150px;
	margin-left: -30px;
}

#mileage {
	margin-left: 20px;
}

.yearmakemodel {
	border: 3px solid black;
	border-left: none;
	border-right: none;
	border-top: none;
	font-size: 20px;
	width: 300px;
	margin-left: 35px;
}

#yearmakemodel {
	margin-left: 30px;
}

.vin {
	border: 3px solid black;
	border-left: none;
	border-right: none;
	border-top: none;
	font-size: 20px;
	width: 268px;
	margin-left: -48px;
}

#vin {
	margin-left: 245px;
}

/* -----------------Form 2----------------- */
.divTable2 {
	display: table;
	width: auto;
	border-spacing: 5px;
	margin-top: -30px;
}

.divCell {
	float: left; /*fix for  buggy browsers*/
	display: table-column;
	/*width: 92px;*/
	font-family: 'MyriadProRegular', Arial;
	font-size: 11pt;
}

.comments {
	font-size: 22px;
	margin-left: 17px;
}

.commentInput {
	border: 3px solid black;
	border-left: none;
	border-right: none;
	border-top: none;
	width: 685px;
	font-size: 20px;
}

.commentInput1 {
	border: 3px solid black;
	border-left: none;
	border-right: none;
	border-top: none;
	margin-left: 20px;
	width: 757px;
	font-size: 20px;
	margin-top: 10px;
}

#sub_comment {
	width: 1375px;
}

.date {
	border: 3px solid black;
	border-left: none;
	border-right: none;
	border-top: none;
	font-size: 20px;
	width: 200px;
	margin-left: -55px;
}

#datetxt {
	margin-left: 20px;
}

#inspected {
	margin-left: 60px;
}

.inspect_by {
	border: 3px solid black;
	border-left: none;
	border-right: none;
	border-top: none;
	font-size: 20px;
	margin-left: 10px;
	width: 410px;
}

.ins_date {
	font-size: 25px;
}

/* -----------------Logo----------------- */ /*.yourlogo {
	float: left;
	display: table-column;
	margin-left: 100px;
	width: 420;
	height: 100;
}
*/
.logo1 {
	float: left; /*fix for  buggy browsers*/
	display: table-column;
	width: 80;
	height: 100;
	margin-left: 1px;
}

.logo2 {
	float: right; fix for buggy browsers display : table-column;
	width: 100;
	height: 0;
	margin-left: 1px;
	margin-top: -95px;
}

.divLogoTab {
	display: table;
	width: auto;
	border-spacing: 15px;
	margin-bottom: 20px;
}

.divLogoRow {
	display: table-row;
	margin-left: 10px;
	width: auto;
}

.img {
	border: 1px solid black;
	font-size: 28px;
	/*height: 2.54cm;
    width: 10.16cm;*/
	width: 300px !important;
	height: 75px !important;
}

#imageSize { /*----edited by roopa*/ /*height: 2.54cm;
    width: 2.54cm;
	width: 75px;
	height: 75px;*/
}

/* ----------------------------------------------------------------------------------------------------------- */
#shadow {
	color: black;
	padding: 2px;
	width: 80%;
	margin-left: 10%;
	border: 1px solid #E5E5E5;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 4px 10px -1px rgba(200, 200, 200, 0.98);
}

#attention {
	margin-left: 46px;
	margin-top: -28px;
}

/*a {
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10pt;
	TEXT-DECORATION: none;
	COLOR: #000;
}*/
#head {
	text-align: center;
	FONT-SIZE: 9pt;
	font-weight: bold;
}

#head1 {
	text-align: left;
	FONT-SIZE: 9pt;
	font-weight: bold;
}

#frm1 {
	margin-left: 0px;
	/*  src: url('myriad/MYRIADPRO-REGULAR.OTF');*/
}

#templateSize {
	width: 21.6cm;
	/*height: 30.1cm;*/
	border-radius: 10px;
	/*margin-left: 2%;*/
	margin-right: auto;
	margin-left: auto; /*---edited to resolve scroll issue--------------*/
}

/*----------------------------------------Nav---------------------------------------- */
.nav {
	position: absolute;
	z-index: 1;
	float: left;
	margin-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

.nav ul {
	float: left;
}

.nav ul li {
	float: left;
	display: block;
	list-style: none;
}

.nav ul li a { /*-----Edited by Roopa */
	font-size: 14px;
	text-decoration: none;
	color: #000;
	padding: 8px 0px 0px;
	width: 97px;
	height: 18px;
	display: block;
	margin-right: 15px;
}

.nav ul li a:hover { /*-----Edited by Roopa */
	background: url(../images/btn_template_12.png) no-repeat;
	width: 97px;
	height: 20px;
	padding: 8px 0px 0px;
	display: block;
	background-color: #fff;
	text-align: center;
}

#formNameTab {
	background: url("../images/btn_formname.png") no-repeat scroll 0% 0%
		#FFFFFF;
	display: block;
	height: 20px;
	padding: 8px 0px 0px;
	text-align: center;
	width: 216px;
}

.nav ul .selected { /*-----Edited by Roopa */
	/*background: url(../images/btn_template_12.png) no-repeat;
	width: 97px;
	height: 20px;
	padding: 8px 0px 0px;
	display: block;
	background-color: #fff;
	text-align:center;*/
	background: url("../images/btn_template_12.png") no-repeat scroll 0 0
		#FFFFFF;
	display: block;
	height: 20px;
	padding: 8px 0 0;
	text-align: center;
	width: 97px;
}

/*----------------------------------------Theme---------------------------------------- */
.container { /*width: 1024px;*/
	margin: 0px auto;
	width: 931px;
	/*-------edited to resolve scroll issue-----------------------*/
}

/*.header {
	background: url(../images/appheaderesr.png);
	width: 1024px;
	height: 192px;
	float: left;
}
*/
.centercontainer {
	float: left;
	/*margin: 0px 86px;
	width: 849px;*/
	margin: auto;
	width: 929px;
}

.innercontainer {
	float: left;
	border: 1px solid #000;
	width: 100%;
	margin-top: 26px;
	border: 1px solid #000;
}

*,ul,li {
	margin: 0;
	padding: 0;
}

/*My Changes for template 102*/
.containerbtm {
	margin: 3% 3% 3% 50%;
}

.EditBtn {
	background: url(../images/Edit_btn.png);
	width: 201px;
	height: 37px;
	border: none;
	cursor: pointer;
}

.PdfBtn {
	background: url(../images/iGeneratePdf.PNG);
	width: 201px;
	height: 37px;
	border: none;
	cursor: pointer;
}

.iDeleteEdit {
	width: 13px;
	display: none;
	height: 16px;
	margin-left: 210px;
	margin-top: -34px;
}

.iImageEdit {
	margin-left: 225px;
	margin-top: -35px;
	display: none;
	width: 4%;
	float: right;
	border: 0px solid green;
}

#bottomContainerRight {
	background-color: white;
	margin-right: 10px;
	margin-top: 15px;
	/*width: 31%;
    float: right;
    */
}

.leftOptImage {
	font-size: 28px;
	border: 1px solid black;
	/*height: 2.54cm;
    width: 2.54cm;*/
	height: 75px;
	width: 75px;
}

.rghtOptImage {
	font-size: 28px;
	border: 1px solid black;
	/* height: 2.54cm;
    width: 2.54cm;*/
	height: 75px !important;
	width: 75px !important;
}

.selcimg {
	float: left;
}

.bottomtext {
	line-height: 2;
	margin: 0px 36px;
	font-size: 11pt; /*----edited by Roopa-----*/
	margin-left: 6%;
	font-family: 'MyriadProRegular'; /*----edited by Roopa-----*/
	color: #000; /*----Added by Roopa-----*/
	overflow: hidden;/*----Added by Jeet-----*/
    width: 90%;
}

.inspec_formp {
	font-family: 'MyriadProRegular';
	font-size: 11pt;
	line-height: 1.9;
	color: #000;
	width: 810px;
	word-wrap: break-word;
}

fieldset {
	float: left;
	font-family: 'MyriadProRegular', Arial;
	font-size: 11pt;
	margin-left: 10px;
	width: 94%;
	padding: 10px;
	margin-top: 15px;
}

LEGEND {
	margin-left: 15px;
	font-weight: bold;
}

#lightBoxImage {
	float: left;
}

#bottomContainerRight {
	font-family: 'MyriadProRegular', Arial;
	font-size: 11pt;
}

/*------------new styles Roopa--------------------*/
.svgTable img {
	margin-right: 3px;
}

#txtVal {
	padding: 5px;
	text-align: center;
	width: 450px;
}

.imageDiv {
	width: 150px !important;
	height: auto !important;
	margin-left: 8px !important;
	float: left !important;
}

#txtVal_customer {
	padding: 15px 0px 0px 0px;
	text-align: center;
	width: 750px;
	margin: auto;
	overflow: auto;
}

.logo1,.logo2{ /*----added by Roopa-----*/
	width: 75px;
	height: 75px;
}

.logo2,logo2 img {
	position: relative;
	top: 15px;
}

.yourlogo img { /*----edited By Roopa----
	width: 300px !important;
	height: 75px !important;*/
}

#txtVal_fAttention,#divTxt_attention,#divTxt_iAttention {
	float: left;
	display: inline;
	margin-right: 10px;
	margin-top: 10px;
}

#txtVal_attention {
	width: 190px;
}

#txtVal_fAttention {
	width: 240px;
}

#txtVal_iAttention {
	width: 160px;
}

#customerP {
	width: 740px;
	float: left;
	display: inline;
	padding: 10px 5px;
	border: 1px solid #000;
	word-wrap: break-word;
}

.selCell img {
	float: left;
	display: inline;
}

/*--------------newly added----------------------------------*/
.divTable1 .editme1 {
	position: relative;
	top: 10px;
}

.selCell img {
	position: relative;
	top: 10px;
}

.selCell img.selcimg {
	position: relative;
	top: 0px;
}

.deleteForm {
	color: red;
	font-weight: bold;
	padding-bottom: 20px;
}

/*----------added today------------------*/
.selTable .selCell img {
	position: relative;
	top: 9px; /*-------------new styles added march 7----------------*/
}

.selTable .selCell img.editImg {
	position: relative;
	top: 10px;
}

.editHeadingSpan {
	float: right;
	margin-right: 120px;
	margin-top: -25px;
}

/*----new css 17th feb----------Roopa-------------*/
#update102,#cancelBtn,.savebtn,.cancelbtn {
	background-image: url("../images/button_medium.png");
	display: block;
	width: 80px;
	font-family: 'MyriadProRegular';
	font-size: 14px;
	color: #000;
	text-decoration: none;
	vertical-align: middle;
	line-height: 25px;
	float: left;
	height: 25px;
	margin-right: 10px;
	font-weight: normal;
	width: 80px;
	border: 0px;
	cursor: pointer;
	cursor: hand;
}

.cancelbtn1 {
	background-image: url("../images/button_medium.png");
	border: 0 none;
	color: #000000;
	cursor: pointer;
	display: block;
	float: right;
	font-family: 'MyriadProRegular';
	font-size: 14px;
	font-weight: normal;
	height: 25px;
	margin-right: 41%;
	margin-top: -3.8%;
	text-decoration: none;
	width: 80px;
}

#update102 {
	margin-left: 350px;
}

.btn-txt {
	font-family: 'MyriadProRegular';
	font-size: 14px;
	color: #000;
	text-decoration: none;
	vertical-align: middle;
	line-height: 37px;
	float: left;
	margin-right: 10px;
	cursor: pointer;
	cursor: hand;
	height: 37px;
}

.editTbtn,.genTbtn {
	background-image: url("../images/button_large.png");
	display: block;
	width: 155px;
	text-align: center;
	float: left;
}

.editTbtn,.genTbtn {
	font-weight: normal;
}

/*-----------added 18th feb---Roopa--------------------*/
#txtVal_customer,#customerP {
	color: #000000;
	font-family: 'MyriadProRegular';
	font-size: 11pt; /*12pt*/
	line-height: 1.9;
	width: 810px; /*750px;*/
}

#msg {
	font-size: 10pt;
	letter-spacing: 0.5px;
	margin-left: 0;
	margin-top: 4%;
}

.selCell p {
	margin-top: 10px;
	HEIGHT: 7px;
	color: #000;
	margin-left: 2px;
	vertical-align: center;
	TEXT-DECORATION: none;
	font-family: 'MyriadProRegular';
	font-size: 12pt;
	color: #000;
	padding: 0px;
	float: left;
	margin-right: 10px;
}

#pageHeading {
	font-family: 'MyriadProBold';
	font-size: 14px;
}

#pageHeading input {
	font-family: 'MyriadProBold';
	font-size: 12px;
	margin-left: 10px;
	font-family: 'MyriadProRegular';
	height: 25px;
}

#itemsP,#conditionP,#items1P,#condition1P {
	width: 90%;
}

/*-----------------button styles-------------------*/
#createNewBtn {
	clear: both;
}

.btn-txt,.deleteForm:link {
	font-family: 'MyriadProRegular';
	font-size: 14px;
	color: #000;
	text-decoration: none;
	vertical-align: middle;
	line-height: 25px;
	float: left;
	margin-right: 10px;
	cursor: pointer;
	cursor: hand;
	height: 25px;
	text-align: center;
}

.deleteForm:link {
	font-weight: normal;
	height: 25px;
	line-height: 26px;
	position: relative;
	top: -7px;
}

#createComponent,.editTbtn,.genTbtn {
	background-image: url("../images/button_large.png");
	display: block;
	width: 155px;
}

.EditBtn,.PdfBtn {
	background-image: url("../images/button_large_old.png");
	display: block;
	width: 155px;
	height: 37px;
	line-height: 37px;
	font-family: 'MyriadProBold';
}

.editTbtn,.genTbtn {
	font-weight: normal;
	text-align: center;
}

.deleteForm:link,.formLink1:link {
	position: relative;
	top: -1px;
}

#updateId,#cancelButtonId,#rightOkComp,#rightCancelComp,.formlink1,.deleteForm:link,.btn_forright,btn_forright
	{
	background-image: url("../images/button_medium.png");
	display: block;
	width: 80px;
}

#rightOkComp,#rightCancelComp {
	font-family: 'MyriadProRegular';
	font-size: 14px;
	color: #000;
	text-decoration: none;
	vertical-align: middle;
	line-height: 25px;
	float: left;
	height: 37px;
	margin-right: 10px;
	font-weight: normal;
}

.divTable1 .editme1 {
	position: relative;
	top: 10px;
	white-space: nowrap;
}

#update102,#cancelBtn {
	margin-bottom: 10px;
}

#cancelBtn {
	position: relative;
	top: -10px;
}

.selCell p {
	font-family: 'MyriadProBold' !important;
	font-size: 11pt !important;
	font-weight: normal !important;
}

.circlesquare {
	color: #000000;
	font-family: 'MyriadProBold';
	font-size: 12pt;
}

.editBtn1 {
	position: relative;
	top: 10px;
}

.homeBtn,.logoutBtn {
	background-image: url("../images/button_medium.png");
	display: block;
	width: 80px;
	margin-top: 10px;
}

.EditBtn,.PdfBtn {
	background-image: url("../images/button_large_old.png");
	display: block;
	width: 155px;
	height: 37px;
	line-height: 37px;
}

/*------styles added on 22ndFEB----------------------------*/
.divCell1 {
	font-size: 11pt !important;
}

.divTable1 .editme1 {
	position: relative !important;
	top: 5px !important;
	white-space: nowrap !important;
}

img {
	border: 0;
}

.editDelBtn {
	margin-top: 8px;
}

#uploadLocalImage label,#uploadRImage label,#uploadLeftLogoLocalImage label,#uploadRLeftLogoImage label,#uploadRightLogoLocalImage label,#uploadRRightLogoImage label
	{
	font-family: 'MyriadProBold';
	font-size: 12pt;
	margin-bottom: 10px;
}

#comp_6 {
	font-family: 'MyriadProRegular';
	font-size: 11pt;
	word-wrap: break-word;
}

#comp_7 {
	width: 190px;
}

#comp_8 {
	width: 235px
}

#comp_9 {
	width: 175px;
}

#okButton7,#okButton8,#okButton9 {
	position: relative;
	top: -20px;
}

/*#selCell7{
width:240px;
}
#selCell8{
width:300px;
}
#selCell9{
width:270px;
}*/
div#image {
	width: 100%;
	height: 60%;
}

div#image div {
	width: 49.9%;
	float: left;
	height: auto !important;
}

#uploadLocalImage label,#uploadRImage label,#uploadLeftLogoLocalImage label,#uploadRLeftLogoImage label,#uploadRightLogoLocalImage label,#uploadRRightLogoImage label
	{
	font-family: 'MyriadProBold';
	font-size: 12pt;
	margin-bottom: 10px;
}

/*--------------new styles added on march 30--------------*/
#editComp_7,#editComp_8,#editComp_9 {
	font-family: 'MyriadProBold' !important;
	font-size: 11pt !important;
	font-weight: normal !important;
	position: relative;
	top: 9px;
}

#editComp_10,#editComp_11,#editComp_26,#editComp_27{
	font-family: 'MyriadProBold' !important;
	font-size: 11pt !important;
	font-weight: normal !important;
	position: relative;
	text-align:center;
}

#editText102{
	width: 80%; 
	float:left;
	display: none; 
	font-size: 20pt !important;
	margin-left: 87px !important;
	text-align:center;
	text-transform: uppercase;
	font-weight: normal !important;
	font-family: 'MyriadProBold' !important;
}
/*-----------------new styles added march 9----------------------*/
#attentionP,#fAttentionP,#iAttentionP {
	position: relative;
	top: 9px;
}

#attentionP {
	width: 212px;
}

#fAttentionP {
	width: 250px;
}

#iAttentionP {
	width: 195px;
}

/*-------------------march 12---------------------*/
.selectLink,.deleteLink {
	font-family: 'MyriadProRegular';
	font-size: 14px;
	color: black;
	text-decoration: none;
	vertical-align: middle;
	line-height: 25px;
	float: left;
	margin-right: 10px;
	cursor: pointer;
	cursor: hand;
	height: 25px;
	text-align: center;
	background-image: url("../images/button_medium.png");
	display: block;
	width: 80px;
}

.selectLink {
	position: relative;
	left: -6px;
}

.deleteLink {
	position: relative;
	left: 1px;
}

a {
	text-decoration: none !important;
}

img {
	border: 0 !important;
}
.imgDimension{
	color:blue;font-family:'MyriadProRegular';font-size:11pt;
}