@font-face {
	font-family: 'MyriadProBold';
	src: url('../fonts/myriadpro_bold-webfont.eot');
	src: url('../fonts/myriadpro_bold-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/myriadpro_bold-webfont.woff') format('woff'),
		url('../fonts/myriadpro_bold-webfont.ttf') format('truetype'),
		url('../fonts/myriadpro_bold-webfont.svg#MyriadProBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ImpactRegular';
	src: url('../fonts/impact-webfont.eot');
	src: url('../fonts/impact-webfont.eot?#iefix')
		format('embedded-opentype'), 
		url('../fonts/impact-webfont.woff')
		format('woff'), url('../fonts/impact-webfont.ttf') format('truetype'),
		url('../fonts/impact-webfont.svg#ImpactRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadProRegular';
	src: url('../fonts/myriadpro_regular-webfont.eot');
	src: url('../fonts/myriadpro_regular-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/myriadpro_regular-webfont.woff') format('woff'),
		url('../fonts/myriadpro_regular-webfont.ttf') format('truetype'),
		url('../fonts/myriadpro_regular-webfont.svg#MyriadProRegular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}
/*----------------------------------------Theme---------------------------------------- */
body{
	color:#000000;
	}
.container {
	/*width: 1024px;*/
	margin: 0px auto;
	color:#000;
	width:931px;  /*--------------edited to resolve conflict issue----------------*/
}

.header {
	background: url(images/appheaderesr.png);
	/*width: 1024px;*/
	height: 192px;
	float: left;
	width:931px;  /*--------------edited to resolve conflict issue----------------*/
}

.centercontainer {
	float: left;
	/*margin: 0px 86px;
	width: 849px;*/
	margin:auto;
	width:929px;
}

.innercontainer {
	float: left;
	border: 1px solid #000;
	width: 100%;
	margin-top: 26px;
}

/*----------------------------------------innerpagesTheme---------------------------------------- */
.insidecentercontainer {
	float: left;
	margin: 0px 50px;
	width: 929px;
}

.insideinnercontainer {
	float: left;
	border: 1px solid #000;
	width: 929px;
	margin-top: 26px;
}

/*----------------------------------------Nav---------------------------------------- */
.nav {
	position: absolute;
	z-index: 1;
	float: left;
	margin-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

.nav ul {
	float: left;
}

/*----------------------------------------Nav---------------------------------------- */
  .nav {
	position: absolute;
	z-index: 1;
	float: left;
	margin-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
}

.nav ul {
	float: left;
}

.nav ul li {
	float: left;
	display: block;
	list-style: none;
}

.nav ul li a { 
	font-size: 14px;
	text-decoration: none;
	color: #000000;
	padding: 8px 0px 0px;
	width: 97px;
	height: 18px;
	display: block;
	margin-right: 15px;
	text-align:center;
}

.nav ul li a:hover { 
	background: url(../images/btn_template_12.png) no-repeat;
	width: 97px;
	height: 20px;
	padding: 8px 0px 0px;
	display: block;
	background-color: #fff;
	text-align:center;
}
#formNameTab{
     background: url("../images/btn_formname.png") no-repeat scroll 0% 0% #FFFFFF;
     display: block;
     height: 20px;
     padding: 8px 0px 0px;
     text-align: center;
     width: 216px;
}
.nav ul .selected { 
	background: url(../images/btn_template_12.png) no-repeat;
	width: 97px;
	height: 20px;
	padding: 8px 0px 0px;
	display: block;
	background-color: #fff;
	text-align:center
}
 
 
/*----------------------------------------Vehicle condition---------------------------------------- */
.VCcentercontent {
	width: 489px;
	margin: 0px auto;
	text-align: center;
	color: #000000;
	margin-top: 30px;
}

.VCcentercontent b {
	font-size: 24pt;
	font-weight: regular;
	text-align: center;
	font-family: 'ImpactRegular';
	font-weight:normal;
}

.VCcentercontent  .yourlogo {
	font-size: 30px;
	border: 1px solid #000;
	width: 100%;
	height: 96px;
	margin: auto 0px;
}

.VCcentercontent  .formtxt {
	font-size: 10pt;
	font-family: 'MyriadProRegular';
	
}

.VCcontinner {
	width: 100%;
	float: left;
	margin-top: 16px;
}

/*------------Listcheckboxtbns--------------- */
.listcontatleft {
	float: left;
	width: 200px;
	margin-left: 106px;
}

.VClistdiv {
	float: left;
	display: block;
	width: 100%;
}

.VClist li {
	list-style: none;
	margin: 0px 0px 10px 0px;
	padding: 5px 0px 5px;
}

.VClist li .text {
	color: #000000;
	font-size: 12pt;
	font-family: 'MyriadProBold';
		
}

.VClist li:hover {
	background: #dadada;
}

.VClist .checkbox {
	float: left;
	margin-right: 2px;
}

.VClist .checkbox label {
	font-size: 10pt;
	font-family: 'MyriadProRegular';
	
}

.VClist .checkboxcnt {
	margin-top: 2px;
}

.VClistdiv span {
	color: #000000;
	display: block;
	font-size: 12pt;
	font-family: 'MyriadProRegular';
	
}

.listcontatright {
	float: right;
	width: 200px;
	margin-right: 106px;
}

.EditBtn {
	background-image:url("../images/button_large_old.png");
   display:block;
   width:155px;
   height:37px;
   line-height:37px;
    font-family: 'MyriadProBold';
 }	

.PdfBtn {
	background-image:url("../images/button_large_old.png");
   display:block;
   width:155px;
   height:37px;
   line-height:37px;
    font-family: 'MyriadProBold';
 }

.btn-txt{
    color: #000000;
    cursor: pointer;
    float: left;
    font-family: 'MyriadProRegular';
    font-size: 14px;
   
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}

.containerbtm {
	float: left;
	width: 100%;
	text-align: center;
	margin: 10px 0px;
}

.containerbtm3 {
	float: left;
	width: 65%;
	margin-left: 40%;
	text-align: center;
}

.bottomtext{
	margin: 0px 33px;
	font-size: 10pt;
	font-family: 'MyriadProRegular';
	}


.admincontainer{
	margin-left: 164px;
	margin-top: 86px;
}
.adminbtn{
	background: #f2f2f2;
	border: 1px solid #d8d8d8;
	width: 225px;
	text-align: right;
	margin-right: 45px;
	float: left;
	color: #000000;
	text-decoration: none;
}

.adminbtn span{
	font-family:Helvetica;
	font-size: 18px;
	padding: 18px 0px 18px;
	display: block;
	text-align: center;
}

.adminbtn:hover {
	background: #f2f2f2;
	border: 1px solid #d8d8d8;
	width: 225px;
	text-align: right;
	margin-right: 45px;
	float: left;
	color: #000;
	text-decoration: none;
}

.btngrey {
	font-family: Helvetica;
	background: url(images/grey_btn.png) no-repeat;
	width: 164px;
	height: 32px;
	border: 0px;
	line-height: 30px;
	color: #000;
	font-weight: bold;
	font-size: 13px;
	cursor: pointer;
}

.rightcontainer {
	border: 1px #000 solid;
	padding: 23px;
}

.sideheading {
	font-family:Helvetica;
	margin-bottom: 10px;
}

.sideheading  label {
	font-size: 15px;
	font-weight: bold;
}

.sideheading select {
	font-size: 15px;
	font-family:  Helvetica;
	width: 300px;
	border: 1px #000 solid;
}

.sideheading  checkbox {
	border: #000 1px solid;
	margin-top: 10px;
}

.sideheading input[type="text"] {
	width: 300px;
	border: #000 1px solid;
	height: 22px;
	line-height: 22px;
}

.btn_forright {
	background: url(images/Submitbtn.png);
	width: 75px;
	height: 25px;
	border: 0px;
	line-height: 25px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	font-family: Helvetica;
	cursor: pointer;
}

.btn_forright:hover {
	background: url(images/Submitbtn_hover.png);
	width: 75px;
	height: 25px;
	border: 0px;
	line-height: 25px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	font-family:  Helvetica;
	cursor: pointer;
}

.typeurown {
	color: #000000;
	width: 200px !important;
	float: left;
	margin: 0px 4px;
}

.typeurowncheck {
	float: left;
	margin-top: 5px;
}

.subbtn {
	background: url(images/plusbtn.png) no-repeat;
	width: 26px;
	height: 26px;
	display: block;
	float: left;
	margin-right: 2px;
}

.addbtn {
	background: url(images/plusbtn.png) -29px no-repeat;
	width: 26px;
	height: 26px;
	display: block;
	float: left;
	margin-right: 2px;
}

.smalltextbox {
	width: 100px !important;
}

.colorselec {
	height: 10px;
	width: 10px;
	border: 1px solid #000;
	background: #fff;
	margin-right: 10px;
}

.colorselec  a:link {
	height: 10px;
	width: 10px;
	cursor: pointer;
	text-decoration: none;
	display: block;
}

.colorselec  a:hover {
	height: 10px;
	width: 10px;
	cursor: pointer;
	text-decoration: none;
	display: block;
}

.headingbg {
	background: #680c0f;
	font-size: 14px;
	padding: 10px 2px;
	margin: 80px 0px 10px 0px;
	float: left;
	display: block;
	width: 98%;
}

.usrleftcont {
	width: 223px;
	color: #fff;
	font-family:  Helvetica;
	float: left;
	display: block;
}

.right_container {
	border-left: 1px solid #000;
	width: 616px;
	float: left;
}

.viewtable {
	width: 100%;
	margin-top: 80px;
	font-family: Helvetica;
}

.view:link {
	background: url(images/View.png);
	width: 77px;
	height: 18px;
	color: #000;
	padding: 5px 0px 0px;
	font-size: 14px;
	display: block;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

.view:hover {
	background: #ccc;
	width: 77px;
	height: 18px;
	padding: 5px 0px 0px;
	color: #000;
	font-size: 14px;
	display: block;
}

/*----------------------------------------Vertical tabs---------------------------------------- */
.verticltab_container {
	float: left;
}

.verticltab {
	padding: 12px 5px;
	color: #000;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.verticltab  li {
	color: #000;
	list-style: none;
	width: 100%;
	display: block;
	background: #e6e6e6;
}

.verticltab  li a:link {
	padding: 12px 5px;
	color: #000;
	font-size: 14px;
	text-decoration: none;
	width: 213px;
	display: block;
	border-bottom: 1px solid #565656;
}

.verticltab  li a:hover {
	color: #000;
	background: #969595;
	text-decoration: none;
	width: 213px;
	display: block;
}

.generatebtn {
	background-image: url(images/Genrate_pdf.png);
	width: 155px;
	height: 37px;
	border: 0px;
	cursor: pointer;
	font-size: 18px;
}

/*----------------------------------------Inspection Form---------------------------------------- */
.inspec_header {
	height: 132px;
	margin-bottom: 27px;
	margin-top: 2px;
}

.inspec_box_small {
	width: 132px;
	height: 132px;
	float: left;
}

.border {
	border: 1px solid #000;
}

.inspec_box_big {
	width: 531px;
	margin: 0px 110px;
	height: 132px;
	float: left;
	text-align: center;
	font-size: 14px;
}

.inspec_heading {
	clear: both;
	font-size: 18pt;
	font-family: 'MyriadProBold';
	
	text-align: center;
	
}

.inspec_form {
	clear: both;
	margin-top: 31px;
	font-size: 11pt;
	font-family: 'MyriadProRegular';
	
}

.inspec_nameconvent {
	font-size: 11pt;
	font-family: 'MyriadProBold';
	
	margin: 29px 0px 0px;
	line-height: 18pt;
}

.inspec_nameconvent span {
	float: left;
	margin-top: 10px; /*margin-right:108px;*/
	width: 341px;
	text-transform: uppercase;
}

.inspec_table  table {
	border: 1px solid #000;
	width: 466px;
	margin-top: 19px;
	border-bottom: 0px;
	border-right: 0px;
	float: left;
}

.inspec_table th {
	padding: 17px 0px;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	font-size: 12pt;
	font-family: 'MyriadProBold';
	
	text-align: center;
	
}

.inspec_table td {
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 5px 13px;
	font-size: 12pt;
	font-family: 'MyriadProRegular';
	
}

.inspec_table img {
	margin-right: 1px;
}

.yellow,.green,.red {
	width: 27px;
	height: 27px;
	border: 1px solid #000;
	display: block;
	float: left;
	margin-right: 7px;
	margin-bottom: 3px;
}

.green {
	background: #009247;
}

.yellow {
	background: #fff200;
}

.red {
	background: #ce171f;
}

.yellowCircle, .redCircle, .greenCircle{

	display: block;
	float: left;
	margin-right: 2px !important;
	margin-bottom: 3px;
}

.redCircle {
	background-image: url("../images/red_circle_small.png");
	height: 27px;
	width: 27px;
	display: block;
	float: left;
		position:relative;
	top:0px;
}
.greenCircle{
		background-image: url("../images/green_circle_small.png");
	height: 27px;
	width: 27px;
	display: block;
	float: left;
		position:relative;
	top:0px;
	}

.yellowCircle {
	background-image: url("../images/Yellow_circle_small.png");
	height: 27px;
	width: 27px;
	display: block;
	float: left;
		position:relative;
	top:0px;
}

.selCell .greenCircle, .selCell .redCircle , .selCell .yellowCircle {
		position:relative;
	top:0px
	}
.inspec_form {
	clear: both;
	margin-top: 31px;
	font-size: 11pt;
	font-family: 'MyriadProRegular';
	
}

.inspec_nameconvent {
	font-size: 11pt;
	font-family: 'MyriadProBold';
	
	margin: 29px 0px 0px;
	line-height: 18pt;
}

.inspec_nameconvent span {
	float: left;
	margin-top: 10px; /*margin-right:108px;*/
	width: 341px;
	text-transform: uppercase;
}

.inspec_table  table {
	border: 1px solid #000;
	width: 466px;
	margin-top: 19px;
	border-bottom: 0px;
	border-right: 0px;
	float: left;
}

.inspec_table th {
	padding: 17px 0px;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	font-size: 12pt;
	font-family: 'MyriadProBold';
	
	text-align: center;
}

.inspec_table td {
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 5px 13px;
	font-size: 12pt;
	font-family: 'MyriadProRegular';
	
}

.inspec_table img {
	margin-right: 1px;
}

.yellow,.green,.red {
	width: 25px;
	height: 25px;
	border: 1px solid #000;
	display: block;
	float: left;
	margin-right: 2px !important;
	margin-bottom: 3px;
}

.green {
	background: #009247;
}

.yellow {
	background: #fff200;
}

.red {
	background: #ce171f;
}

.smallGreen,.smallYellow,.smallRed {
	width: 20px;
	height: 20px;
	border: 1px solid #000;
	display: block;
	float: left;
	margin-right: 2px !im portant;
	margin-bottom: 3px;
	margin-right:1px;
}

.smallGreen {
	background: #009247;
	width: 20px;
	height: 20px;
}

.smallYellow {
	background: #fff200;
	width: 20px;
	height: 20px;
}

.smallRed {
	background: #ce171f;
	width: 20px;
	height: 20px;
}

/*.greenCircle {
	background-image: url("../images/green_circle.png");
	height: 41px;
	width: 41px;
	display: block;
	float: left;
}


*/

.smallGreenCircle {
	background-image: url("../images/green_circle_small1.png");
	height: 22px;
	width: 22px;
	display: block;
	float: left;
	margin-right:1px !important;
	margin-bottom:2px !important; 
}

.smallRedCircle {
	background-image: url("../images/red_circle_small1.png");
	height: 22px;
	width: 22px;
	display: block;
	float: left;
	margin-right:1px !important;
	margin-bottom:2px !important; 
}

.smallYellowCircle {
	background-image: url("../images/Yellow_circle_small1.png");
	height: 22px;
	width: 22px;
	display: block;
	float: left;
	margin-right:1px !important;
	margin-bottom:2px !important; 
}

/*----------------------------------------Inspection intercontent---------------------------------------- */
.inspection {
	width: 494px;
}

.inspec_heading_impact {
	font-size: 18pt;
	font-family: 'ImpactRegular';
	font-weight: normal;
	text-align: center;
}

.inspectionleftwrap {
	float: left;
	width: 380px;
}

.inspectionrightwrap {
	float: left;
	margin-left: 19px;
}

.inspection_bg {
	width: 380px;
}

.bordernone {
	border: 0px !important;
}

.txt_bold {
	font-size: 10pt !important;
	
	font-family: 'MyriadProBold';

	text-align: center;
}

.interior_inspec {
	margin-top: 0px !important;
}

.interior_inspec h2 {
	font-size: 10pt !important;
	font-style: italic;
	font-family: 'MyriadProBold';
    text-align: left;
    word-wrap:break-word;
}

.white_box {
	width: 42px;
	height: 23px;
	background: #fff;
	border: 1px solid #000;
	display: block;
}

.white_box_rectangle {
	width: 39px;
	height: 49px;
	background: #fff;
	border: 1px solid #000;
	display: block;
}

.white_box_square {
	width: 19px;
	height: 19px;
	background: #fff;
	border: 1px solid #000;
	display: block;
	margin-bottom:2px;
}

.brakesft_wpr {
	width: 221px;
	margin-left: 20px;
	float: left;
	font-style: italic;
}

.brakesft_wpr_Brakeimg {
	position: absolute;
	z-index: 2;
	background: url(images/inspect_Brakes.png);
	width: 273px;
	height: 283px;
	margin-left: 213px;
	float: left; /*for IE-7 dont delete this "#top:10px; #right:10px;"  */
	#
	top: 10px; #
	right: 10px;
}

.brakes_innerbtm {
	width: 100%;
	background: #dcddde;
	float: left;
}

.brakes_expansion {
	margin-left: 52px;
	width: 142px;
}

.brakes_expansion span {
	clear: both;
	display: block;
	margin: 5px 0px;
}

.brakes_expansion b {
	display: block;
	float: left;
	margin-right: 5px;
	width: 25px;
}

/*---------------styles already there in style.css----------------*/

body {
	margin: 0px;
	padding: 0px;
	font-family: "Times New Roman", Times, serif, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	text-align: left;
	background-color: #fff;
	height: 100%;
}

*,html,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,label,fieldset,input,p,blockquote
	{
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
	float: left;
}

p {
	color: 000000;
	line-height: 20px;
	float: left;
	font-size: 14px;
	clear: both;
}

ol {
	list-style: none;
}

fieldset {
	border: none;
}

.clear {
	clear: both;
}

#templateSize {
	border-radius: 10px 10px 10px 10px;
	/*margin-left: 2%;*/
	margin-right: auto;
	width: 21.6cm;
	margin-left:auto; /*---------------edited to resolve scroll bar issue-----------------*/
}

.divLogoTab {
	border-spacing: 15px;
	display: table;
	width: auto;
}

.divLogoTab {
	border-spacing: 15px;
}

.logo1,.logo2{
	height: 75px;
	width: 75px;
}

.logo1 {
	display: table-column;
	float: left;
	margin-left: 1px;
}

.leftOptImage {
	border: 1px solid black;
	font-size: 28px;
	height: 100px;
	width: 150px;
}

/*#imageSize {
	height: 75px;
	width: 75px;
}*/

.img {
	border: 1px solid black;
	font-size: 28px;
	height: 72px !important;
	width: 384px !important;
}



.logo2,logo2 img {
	position: relative;
	/*top: 15px;*/
}

.logo2 {
	height: 0;
	margin-left:630px;
	margin-top: -75px;
}

.rghtOptImage {
	border: 1px solid black;
	font-size: 28px;
	height: 100px !important;
	width: 150px !important;
}

#pageHeading {
	height: 60px;
	text-align: center;
	width: 850px;
}

#heading {
	color: black;
	font-family:'MyriadProBold';
	font-size: 18pt;
	
	margin-left: 80px;
	margin-top: 30px;
	width: 17cm;
	margin-bottom:10px;
}

label {
	border-radius: 2px 2px 2px 2px;
}

.divTable {
	display: table;
	margin-left: 0;
	margin-top: -5px;
	width: auto;
	clear:both;
}

.divRow {
	display: table-row;
	margin-left: 10px;
	width: auto;
}

#customer {
	margin-left: 30px;
}

#customerP {
	border: 0px solid #000000;
	display: inline;
	float: left;
	padding: 10px 5px;
	width: 740px;
}

.inspec_formp {
	color: #000000;
	font-family: 'MyriadProRegular';
	
	font-size: 12pt;
	/*line-height: 1.9;*/
	height:auto;
}

.selTable {
	display: table;
	margin-left: 11px;
	margin-top: 0;
	width: auto;
}

.selRow {
	display: table-row;
	margin-left: 10px;
	width: auto;
}

.selCol {
	float: left;
	height: 70px;
	margin-left: 5px;
	margin-top: 5px;
}

.selCell {
	float: left;
	height: 70px;
}

.selCell img {
	display: inline;
	float: left;
}

.selCell p {
	color: #000000;
	float: left;
	font-family: 'MyriadProBold';

	font-size: 11pt;
	height: 7px;
	margin-left: 2px;
	margin-right: 25px;
	margin-top: 10px;
	padding: 0;
	text-decoration: none;

}

.divTable1 {
	border-spacing: 8px;
	display: table;
	width: 100%;
}

/*----------------new styles added--------------------*/
.floatLeft {
	float: left;
	display: block;
}

.selTable {
	padding: 10px 15px 0 0;
	margin-bottom: 10px;
}

.selCell p {
	margin-top: 4px;
}

.selCol3 {
	height: 30px;
}

.paddingLeft {
	padding-left: 10px; /*--------------edited to resolve scroll bar issues--------------*/
}

.selCol3 {
	margin-left: 1px;
}

.row1 {
	padding: 2px 5px 0;
	border-bottom: 1px solid #000;
	overflow: auto;
	height: auto;
}

.inspectionTable {
	width: 390px;
	border: 1px solid #000;
	border-bottom: 0px;
	margin-bottom: 10px;
}

.inspection_bg  .row1Title {
	
	border-bottom: 1px solid #000000;
	color: #000000 !important;
	font-family: 'MyriadProBold';
	font-size: 12pt;
	font-weight: normal;
	height: 23px;
	padding: 5px;
	text-align: center;
}

.smallheading {
	font-family: 'MyriadProRegular' !important;
	font-size:7pt;
	color:#000;
}

.alignCenter {
	text-align: center;
	display: block;
}

.inspectionTxt {
	font-family: 'MyriadProRegular';
	font-size: 12pt;
	margin-top: 19px;
	padding: 5px;
}

#customer p.moreWidth {
	width: 784px;
}

.alignCenter {
	text-align: center;
}

.alignCenter h2 {
	float: none;
}

.paddingBottom {
	padding-bottom: 10px;
}

.interior_inspec {
	float: left;
	margin-top: 0 !important;
	width: 150px;
}

.interior_inspecLeft {
	margin-right: 15px;
	margin-left: 30px;
}

.interior_inspec1 {
	float: left;
	margin-top: 0 !important;
	width: 165px;
}

.interior_inspecLeft1 {
	margin-right: 15px;
	margin-left: 0px;
}

.interior_inspecRight {
	
}

.txtLeft {
	float: left;
	margin-right: 3px;
}

.lessWidth {
	width: 115px;
}

.titleFont {
	font-family: 'MyriadProBold';

	font-size: 9pt !important;
	font-style: italic;
	text-align: center;
	width: 100%;
	padding-bottom: 10px;
}

.fontTxt {
	font-family: 'MyriadProBold';
	
	font-size: 7pt !important;
	font-style: italic;
}

.white_box,.white_box_rectangle {
	float: left;
	width: 30px;
	margin-left: 3px;
}

.beforeAfter{
	font-family: 'MyriadProBold' !important;

	font-size: 5pt !important;
	font-style: italic;
	margin-top: 10px;
	text-align: right;
	width: 74px;
}
.beforeAfter span{
	font-family: 'MyriadProBold' !important;
    font-size: 5pt !important;
	font-style: italic;
	}
.white_box {
	height: 22px;
	margin-bottom: 3px;
}

.txtFont {
	font-family: 'MyriadProBold';
	
	font-size: 8pt !important;
	font-style: italic;
}

.bottomtext {
	color: #000000;
	font-family: 'MyriadProRegular';
	
	font-size: 11pt;
	line-height: 2;
	padding-left: 10px;
	margin: 0px;
}

/*--------------------------------------template 4 new styles------------------------------*/
.inspection_bg  .greyBg {
	background-color: #dddddf;
	color: #000;
}

.leftAlignTxt {
	float: left;
	margin-top: 0px;
}

.floatRightTxt {
	float: right;
}

.textFont {
	font-family: 'MyriadProRegular';
	
	font-size: 12pt;
	margin-top: 19px;
	padding: 5px;
}

.interior_inspec h2.noInspec {
	font-style: bold !important;
	text-align:center;
}

.fontF {
	font-family: 'MyriadProBold';

	font-size: 10pt !important;
	font-style: italic;
}

.inspectionTableBg {
	/*background: url(images/inspect_Brakes.png);
	background-repeat: no-repeat;
	background-position: 160px 80px;*/
}
.inspectionTableBg .row1{
	overflow:hidden !important;
	}
.row1{
	overflow:hidden !important;
	}
.inputBorder {
	border: none;
	background-color: transparent;
	color: #000000 !important;
	font-size: 14px;
}

.componentHeader {
	background-color: transparent !important;
	/*text-align: center;*/
}
.whiteBG {
	background-color: white !important;
	text-align: left;
}

.tireComponentHeader {
	background-color: transparent !important;
}
.tireComponentHeaderEdit {
	background-color: white !important;
}

/*---------------jeet-------------------*/
#uploadImage1,#uploadImage2,#uploadCenterImage {
	display: none;
}

.editTopLeftHeading,.editTopRightHeading,.editBottomLeftHeading,.deleteBottomLeftHeading,.deleteTopLeftHeading,.deleteTopRightHeading,.editBottomRightHeading,.deleteBottomRightHeading,.okBottomRightHeading
	{
	float: right;
}
.deleteBottomLeftHeading1,.editBottomLeftHeading1,.okBottomLeftHeading1
	{
	float: left;
}

.selTable {
	padding: 10px 0px 0 0;
	margin-bottom: 10px;
}

.selCol33 {
   	float: left;
    height: 35px;
    margin-left: 30px;
    margin-right: -6px;
    margin-top: 0;
    margin-top: 5px;
    font-family: 'MyriadProBold';
	
}
.rghtOptImage103 {
	border: 1px solid black;
	font-size: 12px;
	height: 100px !important;
	width: 150px !important;
}
.leftOptImage103 {
	border: 1px solid black;
	font-size: 12px;
	height: 100px !important;
	width: 150px !important;
}
.logo2-103 {
    float: right;
    height: 0;
    margin-top: -93px;
}
.img103 {
    border: 1px solid black;
    font-size: 28px;
    height: 100px !important;
    width: 380px !important;
}
#msg {
	font-size: 10pt;
	margin-left: 30%;
    margin-top: -10%;
	letter-spacing: 0.5px;
}
#imgLogo {
    border: 1px solid black;
    height: 72px; 
    width: 384px;
    margin-left: 200px; 
    margin-top: 0px;
    padding: 0;
    text-align:center;
}
#editText103 {
	color: black;
	font-family: 'MyriadProBold';
	font-size: 18pt;
	
	height: 27px;
	text-transform: uppercase;
	width: 9.7cm;
}
#headingImage {
	float: right;
	margin-right: 2%;
    margin-top: -3%;
}
#heading103{
	color: black;
    font-family:'MyriadProBold';
    font-size: 18pt;
   
    margin-left: 105px;
    margin-top: 10px;
    width: 17cm;
}
#heading-edit {
    color: black;
    font-family:'MyriadProBold';
    font-size: 18pt;
  
    margin-left: 100px;
    margin-top: 0;
    width: 17cm;
}
#headerText{
	text-transform: uppercase;
}
#imageSize103 {
	/*height: 2.58cm;*/
    margin-left: -1px;
    margin-top: -1px;
    /*width: 3cm;*/
}
.cancelbtn {
    background-image: url("../images/button_medium.png");
    border: 0 none;
    color: #000000;
    cursor: pointer;
    display: block;
    float: left;
    font-family: 'MyriadProRegular';
    font-size: 14px;
  
    height: 25px;
    line-height: 25px;
    margin-right: 10px;
    text-decoration: none;
    vertical-align: middle;
    width: 80px;
}
textarea{resize: none}
.inspectionTxtNew{width:268px;float:left; display:block; position:relative; top:4px;}
.EditBtnNew{float:left;width:20px;height:20px; position:relative; top:4px;}
}
.greyBg .EditBtnNew{
	 position:relative;
	 top:0px !important;
}

div#image {
 width: 100%;
 height: 60%;
}

div#image div {
 width: 49.9%;
 float: left;
 height: auto !important;
}
}
.homeBtn, .logoutBtn {
background-image: url("../images/button_medium.png");
display: block;
width: 80px;
margin-top: 10px;
height: 26px;
}

/*-----------------------new styles added------20th Feb------------*/
.text_label4, #componentHeader {
    color: #000000 !important;
    font-family: 'ImpactRegular' !important;
    font-size: 18pt !important;
    font-weight: normal !important;
}

.inspec_formp, .inputBorder, .circleSuare {
    color: #000000;
    font-family: 'MyriadProRegular';
 
    font-size: 11pt !important;
    /*line-height:1.9;*/
 
}
.circleSuare {
    color: #000000;
    font-family: 'MyriadProBold';
   
    font-size: 11pt;
    
 
}
.inspection_bg .greyBg span.th {
    color: #000000 !important;
    font-family: 'ImpactRegular';
    font-size: 12pt;
    width:340px;
    float:left;
}
.inspectionTxt4{
	 color: #000000;
    font-family: Helvetica;
    font-size: 12pt;
    padding: 5px 8px;
    position: relative;
    top: 5px;
    height:30px;
}
.textFont4 {
    font-family: helvetica;
    font-size: 12pt;
    margin-top: 19px;
    padding: 5px;
}
.fontF4 {
    color: #000000;
    font-family: helvetica;
    font-size: 10pt !important;
    font-style: oblique;
    font-weight: bold;
}
#component65, #component66{
	 color: #000000;
    font-family: helvetica;
    font-size: 11pt !important;
    font-style: oblique;
    font-weight: bold;
	}
.interior_inspec h2.noInspec {
    color: #000000;
    font-family:helvetica !important;
    font-size: 10pt;
    font-style: normal;
    font-weight:bold !important;
   
}
#component57{
	 color: #000000;
    font-family:helvetica !important;
    font-size: 10pt;
    font-style: normal;
    font-weight:bold !important;
    text-align:center;
	}
.bottomtext{
	padding-left:0px !important;
}
.btn-txt{
	font-family: 'MyriadProBold';
	
    font-size: 14px;
    color:#000;
    text-decoration:none;
    vertical-align:middle;
   line-height:25px;
   float:left;
   margin-right:10px;
   cursor:pointer;
   cursor:hand;
   height:25px;
}
.EditBtn, .PdfBtn{
   background-image:url("../images/button_large_old.png");
   display:block;
   width:155px;
   height:37px;
   line-height:37px;
}
.btnContainer{
	padding-left:250px;
	width:585px;
}
#component1,#component2, #component3
	{
	font-family: 'MyriadProBold';
	    font-size: 11pt;
     /*line-height: 1.9;*/
     width:190px;
    
}
.inspectionleftwrap .inspection_bg .inputBorder{
	 color: #000000;
    /*font-family: Helvetica;*/
    font-size: 12pt;
    padding: 0;
    width:255px;
 
	}
	.inputBorder{
	 color: #000000;
   }
#editButton1, #editButton2, #editButton3, #okButton1, #okButton2, #okButton3
	{
	position:relative;
	top:4px;
	}
.inspection_bg .greyBg input{
	  color: #000000;
     font-family: 'ImpactRegular';
     font-size: 12pt;
     text-align:center;
}	
#component5{
	 color: #000000;
    font-family: 'MyriadProRegular';
     
    font-size: 7pt !important;
}
.inspectionTxt4 {
    color: #000000;
    display: block;
    float: left;
    font-family: Helvetica;
    font-size: 12pt !important;
    padding: 0px 4px !important;
   position: relative;
    top: 3px;
   
}
  #component45, #component46{
   font-family: 'MyriadProBold';

    font-size: 5pt !important;
    font-style: italic;
    text-align: left;
    width:38px;
    float:left;
}
inspectionrightwrap .inspectionTxt4 {
	 width: 100px;
	} 
	#component13{
	color:#000000 !important; 
	}
	.homeBtn, .logoutBtn {
    background-image: url("../images/button_medium.png");
    display: block;
    margin-top: 10px;
    width: 80px;
}
/*-----------------new styles added on 28Feb------------------*/
#component28{
	width:96px;
	color: #000000;
    font-family: helvetica;
    font-size: 10pt;
    font-style: oblique;
    font-weight: bold;
	}
#component29{
	width:96px;
	color: #000000;
    font-family: helvetica;
    font-size: 10pt;
    font-style: oblique;
    font-weight: bold;
	}
#component30{
	width:96px;
	color: #000000;
    font-family: helvetica;
    font-size: 10pt;
    font-style: oblique;
    font-weight: bold;
}	
#component52{
   font-family: 'MyriadProBold';
    font-size: 8pt !important;
    font-style: italic;
  
    width:52px;
}
#component53{
	
 font-family: 'MyriadProBold';
    font-size: 8pt !important;
    font-style: italic;
  
    width:45px;

	}
	#component54{
font-family: 'MyriadProBold';
    font-size: 8pt !important;
    font-style: italic;
 
    width:45px;
	}
	#component55{
	font-family: 'MyriadProBold';
    font-size: 8pt !important;
    font-style: italic;
  
    width:45px;
	}
	#component51, #component44, #component39{
	font-family: 'MyriadProBold';
    font-size: 10pt !important;
    font-style: italic;
    color:#000000 !important;
    padding-bottom: 10px;
    text-align: center;
    width: 75px;
	}
	#component44{
	height:20px;
	width:95px;
	}
	#component51{
	width:76px;
	height:50px;
	}
	#bottomMidImageClick{
	position:relative;
	top:5px;
	left:-21px;
	}
	input{
	color:#000000 !important;
	}
#component69{
	width:150px;
	}
#component6{
	color:#ff0000;
	}	
/*------------save and cancel button--------------------*/
#update102, #cancelBtn {
    margin-bottom: 10px;
}

#update102 {
    margin-left: 350px;
}

#update102, #cancelBtn{
    background-image: url("../images/button_medium.png");
    border: 0 none;
    color: #000000;
    cursor: pointer;
    display: block;
    float: left;
    font-family: 'MyriadProRegular';
    font-size: 14px;
   
    height: 25px;
    line-height: 25px;
    margin-right: 10px;
    text-decoration: none;
    vertical-align: middle;
    width: 80px;
}
/*-----------new styles added------2ndMarch------------------*/
#component40, #component41, #component42, #component43, #component31, #component33, #component35, #component37{
	width:17px;
	}
/*-----------------------new styles added on march 9-----------------------*/
#component27{
	  color: #000000;
    font-family: 'MyriadProBold';
    font-size: 11pt;
    width:360px;
	}
#tiresBlock .inputBorder{
	  /*font-family: 'MyriadProBold';*/
	}
#component66{
	width:98px !important;
	}	
input, textarea{
	color:#000 !important;
	}
.form4	{
	text-align:right;padding-right:20px;font-family:'MyriadProRegular'; font-size:6pt;position:relative; top:45px;
	}
	
	
.circlesquare {
    color: #000000;
    font-family: 'MyriadProBold';
    font-size: 12pt;
}
a{
	text-decoration:none !important;
	}
img{
	 border:0 !important;
	}	
/*--------------new styles march14-----------------------*/
.beforeTxt{
	position:relative;
	left:8px;
	}
.afterTxt{
	position:relative;
	left:9px;
	}		
#component45{
	position:relative;
	left:20px;
	top:0px;
	width:26px !important;
	margin-bottom:3px;
	}
#component46{
		position:relative;
	left:13px;
	top:0px;
	width:35px !important;
	}
#component39{
	margin-bottom:5px;
	}
#component47, #component48, #component49, #component50{
	width:20px !important;
	position:relative;
	left:-4px;
	}
#component0{
	border:0px !important;
	text-align:left !important;
	}	
	/*---------------new styles---mar15------------------*/
	.greyBg {
    background-color: #DDDDDF;
    color: #000000;
}
.row1Title {
    border-bottom: 1px solid #000000;
    color: #000000 !important;
    font-family: 'MyriadProBold';
    font-size: 12pt;
    font-weight: normal;
    height: 23px;
    padding: 5px;
    text-align: center;
}
.greyBg input {
    color: #000000;
    font-family: 'ImpactRegular';
    font-size: 12pt;
    text-align:center;
}
/*------------------------------new styes 20 March 12-----------------*/
.fontF49{
	font-size:9pt !important;
	}
#component58, #component59, #component60{
	font-size:9pt !important;
	font-family:helvetica !important;

	color:#000 !important;
	font-weight:bold !important;
	text-align:left !important;
	height:35px !important;
	 font-style: italic !important;
	}
#component58{
	width:143px !important;
	
	}	
#component59{
	width:141px !important;
	
	}	
	#component60{
	width:140px !important;
	
	}
#component40, #component41, #component42, #component43 , #component47, #component48, #component49, #component50, #component61, #component62, #component63, #component64,
#component31, #component32, #component33, #component34, #component35, #component36, #component37, #component38{
	font-weight:bold;
	}	
#component32, #component34, #component38, #component36 {
	width:68px;
	text-align:left;
	}	
#component39{
	height:32px;
	margin-bottom:10px;
	width:95px !important;
	
	}
/*---------new styles---22 march 2012-----------------*/
#component11{
	width:190px !important;
	}
#attentionP{
	width:185px;
	}	
#fAttentionP{
	width:190px;
	}	
#iAttentionP{
	width:180px;
	}		
/*.inspection_bg .greyBg input{
	text-align:center;
	}*/
textarea { overflow: auto; }
									
.selectLink,.deleteLink {
	font-family: 'MyriadProRegular';
	font-size: 14px;
	color: black;
	text-decoration: none;
	vertical-align: middle;
	line-height: 25px;
	float: left;
	margin-right: 10px;
	cursor: pointer;
	cursor: hand;
	height: 25px;
	text-align: center;
	background-image: url("../images/button_medium.png");
	display: block;
	width: 80px;
}

.selectLink {
	position: relative;
	left: -6px;
}

.deleteLink {
	position: relative;
	left: 1px;
}
/*--------------------10th April------------*/
.commentTitle{
	color: #000000;
    font-family: 'ImpactRegular';
    font-size: 12pt;
    text-align: center;
}
/*#imgLeft img{
	height:192px !important;
}*/
.imgDimension{
	color:blue;font-family:'MyriadProRegular';font-size:11pt;
}
.customerSpanText{
	font-size:11pt !important;
}
